[2017-09-21 06:43] embbnux opened #3 "the usage of getUserMedia from cross-origin iframes will be deprecated by default in Chrome M63"
https://groups.google.com/forum/#!msg/discuss-webrtc/32natnrbP6U/wd1-m3crAwAJ

it requires to use iframe as:

[code]

[2017-09-28 01:58] tylerlong opened #7 "Salesforce RingCentral incoming call screen pop"
Here is a step by step tutorial for you to create a simple RingCentral to Salesforce integration. So whenever there is an incoming call, the caller's contact page in SalesForce will be popped up. It would also pop up a google search of some sort providing additional information about the person calling.

Believe it or not, you can do it in 10 minutes. Let's start!

First of all you need an SalesFo

[2017-09-28 02:22] embbnux opened #8 "token can't be refreshed in implicit grant flow"
In implicit grant flow, we don't have API to refresh.
There is a way to refresh token by visiting OAuth login page again. Browser will remember user session, so user don't need to login again, just redirect.
But in using regular browser for login, or using a pop up window to refresh will interrupt user's behavior.
And using a hidden iframe to visit login page is prohibited.

[2017-10-10 02:33] grokify opened #11 "Rename to ringcentral-web-widget"

[2017-10-12 04:56] grokify opened #12 "Static demo enhancements"
Add the following to the static demo:

https://ringcentral.github.io/ringcentral-widget-demo/

* minimized state on page load
* open window on incoming call when in minimized state

[2017-10-12 06:42] embbnux commented on #12
Updated on PR #13

[2017-10-12 07:09] embbnux opened #15 "add Desktop Notification in adapter"
pop up a notification when there is a new call

[2017-10-12 07:55] nareshnootoo opened #16 "Extension is not allowed to make outbound calls with browser currently"
I am getting an error popup "Your extension is not allowed to make outbound calls with browser currently, please contact your account representative for an upgrade." Could anyone please explain what kind of issue is this?

[2017-10-18 03:47] embbnux commented on #16
In web phone, it requires a DL in your extension account.

[2017-10-18 04:29] #12 closed

[2017-10-18 05:02] nareshnootoo commented on #16
Hi, @embbnux thanks :+1:

[2017-10-20 03:16] #16 closed

[2017-10-20 03:29] embbnux commented on #16
Welcome @nareshnootoo

[2017-10-21 23:35] #11 closed

[2017-10-22 02:26] grokify opened #21 "Config page not working with MS Edge 38.14393.0.0"
The config page does not update the URL in the example code when the form is filled out on MS Edge 38.14393.0.0 Win 10 64-bit.

Browser: http://whatismybrowser.com/w/LRLTS4R

Page: https://ringcentral.github.io/ringcentral-web-widget/

[2017-10-22 02:28] grokify opened #22 "Config page not working with Safari Mac 9.1.3"
The config page does not update the URL in the example code when the form is filled out on Safari Mac 9.1.3.

https://ringcentral.github.io/ringcentral-web-widget/

[2017-10-22 04:27] #3 closed

[2017-10-22 20:25] grokify opened #23 "Provide better error when Implicit Grant is not configured"
When the Web Widget is configured to use Implicit Grant (only `appKey` is passed) and the app (client Id) is not configured to support Implicit Grant in the Dev Portal (e.g. Auth Code only), clicking the widget "Sign In" button will cause the OAuth pop up to show up and disappear quickly with the following error:

![ringcentral error from widget cross domain error](https://user-images.githubuserco

[2017-10-23 03:13] #21 closed

[2017-10-23 06:29] embbnux opened #26 "local storage will throw `QuotaExceededError` on Safari 9.1.2"
It will throw `fetchData error: – Error: QuotaExceededError: DOM Exception 22` error after login in Safari

[2017-10-24 03:22] #22 closed

[2017-10-31 22:29] vyshakhbabji opened #28 "After adding new call, please provide a button and function to swap between calls"
Story:

1. Make a inbound/outbound call
2. With Add call button , make a new call
3. Create a new button called swap - keep this inactive if there is only one call
4. When there are >1 calls swap button should be active
5. Swap click should swap between calls ( i am not sure how to swap if there are >2 call sessions)

[2017-11-02 05:12] embbnux commented on #28
Hi, @vyshakhbabji .  When user have multiple call, user can go to Active Calls Page to get all call list and switch call. When user click green button of a hold call, it will switch to this call and hold previous call
![41509599240_ pic](https://user-images.githubusercontent.com/7036536/32310654-e9b0f390-bfce-11e7-8754-f8207b8d7e3a.jpg)
![51509599289_ pic](https://user-images.githubusercontent.com

[2017-11-08 13:32] AndyHaas opened #31 "Session Timeout"
Is there a way we can have the widget auto renew the session so that the widget always stay logged in?

[2017-11-09 13:11] AndyHaas opened #32 "Listening to outboud call requests"
When an inbound call comes in the rc-call-ring-notify and rc-call-end-notify get called and I can capture this via a event listnener. But when an outbound call goes out those two messages don't get called. So I started looking around and I find webphone-callStart. I try to listen for that event but I can't seem to get to it.

So the question is can I listen for outbound calls same as inbound?

[2017-11-09 15:04] AndyHaas opened #33 "Keypad Lookup by name"
Currently you can only type in a phone number. It would be nice like how the text messaging, you can type in a name and text that person. But in this instance it would be calling the person

[2017-11-09 15:06] AndyHaas opened #34 "Contact view tab"
It would be nice to see all the contact in a tab. I see that a request gets made to get all of the contacts but no where do I see where you can view them all. You can only do a lookup via text messaging

[2017-11-09 15:39] embbnux commented on #31
Hi, @AndyHaas If you want to have it auto renew the session, you need to use authorization code flow to auth instead of implicit grant flow. So you need to provide ['appSecret'](https://github.com/ringcentral/ringcentral-web-widget#create-api-secret-file-in-project-root-path) to this app. In authorization code flow, it will renew the token automatically. But if the app disconnect network from serv

[2017-11-09 16:03] embbnux commented on #33
@AndyHaas  Thanks for your great idea. Actually the feature is in our backlog. I will keep it updated with you when it is added.

[2017-11-09 17:35] AndyHaas commented on #31
@embbnux am I able to add appSecret to the src on the iFrame?

[2017-11-09 17:37] AndyHaas opened #35 "RingCentral Web Widget integrated with Plantronics"
Just adding this here original thread was on RingCentral Dev Portal
https://devcommunity.ringcentral.com/ringcentraldev/topics/ringcentral-web-widget-integrated-with-plantronics

I am using https://github.com/ringcentral/ringcentral-web-widget and I am looking to see if I can integrate the Plantronics headset into the application.

Currently we have the Windows Desktop Softphone installed and that

[2017-11-09 19:14] AndyHaas commented on #34
Or an Idea, is there a way to get the data that the widget is getting and use the data somewhere else on the page?

[2017-11-10 01:14] embbnux commented on #34
Yes, you are right. We will add contacts tab in web widget when contacts feature is finished in [Widgets](https://github.com/ringcentral/ringcentral-js-widgets) library . And It also will provide a API to receive contacts from page or other platforms

[2017-11-10 03:13] embbnux opened #36 "Allow user to add their style file link to customize UI style"
just like:
[code]

[2017-11-10 05:07] embbnux commented on #35
As commented in devcommutity, we need to add following API to web widget
- [ ] audio device selection
- [ ] end the call
- [ ] answer the call

[2017-11-10 05:09] embbnux commented on #34
- [ ] add contacts list tab
- [ ] API to import third party contacts

[2017-11-10 05:10] embbnux commented on #33
- [ ] search contacts on keypad

[2017-11-10 05:12] embbnux commented on #32
Sorry, we haven't provide this API. We will add new API for it.
- [ ] add outbound call notification API

[2017-11-13 05:13] embbnux commented on #32
Hi, @AndyHaas. Now you can listen for outbound calls on web widget.

[2017-11-13 05:20] embbnux commented on #36
This is a online [demo](https://embbnux.github.io/ringcentral-web-widget-styles/) built with Game of Thrones Styles.

Style file is defined here: https://embbnux.github.io/ringcentral-web-widget-styles/GameofThrones/styles.css

1. Use adapter way:
[code]

2. Use iframe way:

[code]

3. Or just visit here: [App](https://ringcentral.github.io/ringcentral-web-widget/app.html?stylesUri=https://embbnux

[2017-11-13 05:20] #36 closed

[2017-11-13 14:38] AndyHaas commented on #32
@embbnux this is indeed working. Just for anyone else here are the events that you need to listen to. The call start will be rc-call-start-notify and the end call will be the same as the incoming rc-call-end-notify

[2017-11-13 14:38] #32 closed

[2017-11-13 14:38] #31 closed

[2017-11-14 06:20] embbnux opened #39 "Provide better error when login account don't have permission to login"
If user account doesn't have permission to login to third party app, it will show `Login failed due to internal errors. Please try again later`. We can make the message more user-friendly

[2017-11-17 09:00] embbnux opened #40 "add tests for web widget"
- [ ] add unit test
- [x] add end to end test to keep it well before deployed

[2017-11-19 06:07] embbnux commented on #34
add contacts list by (#42)

[2017-11-19 06:11] embbnux commented on #26
In safari, localStorage limit size is 5MB. In some accounts, cache data will exceed this quota. We need to reduce cache size

[2017-11-20 07:03] #26 closed

[2017-11-20 13:15] AndyHaas commented on #34
Can you add the Contact Link on the Main page instead of going to the More menu?

[2017-11-20 13:18] AndyHaas opened #44 "New Text and Messages"
Suggestion is to have the messages link (envelope icon) also have compose new message at the bottom. Having 2 links at the top can miss lead people that there are 2 separate messaging ways.

[2017-11-20 13:37] AndyHaas commented on #34
Are we also able to take the data that the web app is subscribing to and use it?

[2017-11-20 15:20] embbnux commented on #34
Yeah, it is better to add the contact tag to main page. I will update it.
And for taking the data that the web app is subscribing, It is what we will do in next.

[2017-11-20 15:57] embbnux commented on #34
Move contacts tab to main (#45)

[2017-11-20 16:34] AndyHaas commented on #44
To add to this ticket when someone sends a text the text doesn't wrap it cuts off the word and puts it on a new line. If we can get it to word wrap then it would be easier to read.
![messagenewline](https://user-images.githubusercontent.com/22582720/33029478-4c01ffa4-cdde-11e7-9d74-150695c571bb.JPG)

[2017-11-20 16:52] AndyHaas commented on #35
I see the audio device selection on the settings tab, just an inquiry; will this work with the plantronics hardware?
![rc_dial_audio](https://user-images.githubusercontent.com/22582720/33030450-f2f2f460-cde0-11e7-9781-50666d5c0b65.JPG)

[2017-11-21 00:00] AndyHaas commented on #15
How hard is this enhancement? I am attempting do a web based pop up but not having any such luck to pass the parameters to answer and hang up/reject the call.

[2017-11-21 08:50] embbnux commented on #44
Yeah, Two messages Icon will confuse user. Actually it has been in our backlog to improve this problem.
And thanks for reporting the word wrap issue, we will fix it ASAP.

[2017-11-21 20:08] AndyHaas opened #46 "Ability to call from User Messaging"
Have the phone icon next to the name to allow from this screen to call the person

![image](https://user-images.githubusercontent.com/22582720/33094321-5c63c93a-cec5-11e7-87a9-cf8b81db07f5.png)

[2017-11-23 02:20] embbnux opened #48 "Keep the widget minimize state after page/tab refreshed"
When user minimize the widget, it is better to keep this state unless user extends it even user refresh the page or go to new page.

[2017-11-25 13:37] AndyHaas opened #49 "Add in Voicemail tab"
Add in a voicemail tab so the end user can listen to their voicemail.

Side note: be able to control what account the voicemail's are being retrieved from. For all users we would want them to pull the voicemail's from our main account number so they can listen to all the voicemail's our customer have left.

[2017-11-26 14:56] embbnux commented on #49
Great Idea. Actually, it will come soon.

[2017-11-27 06:22] embbnux commented on #8
Need to wait for upgrading on login page

[2017-11-27 16:47] AndyHaas opened #50 "Images in Messages"
When someone sends a MMS text the images doesn't come across but the empty text blob is displayed.
![image](https://user-images.githubusercontent.com/22582720/33280108-9a7db794-d366-11e7-9269-acb0767c89ba.png)

[2017-11-27 16:48] AndyHaas commented on #33
This needs to be included for transferring calls also

[2017-11-28 09:07] #44 closed

[2017-11-29 14:51] AndyHaas opened #51 "Create New Contact"
In the Messages Tab there is a Create New Contact button. When clicked no function is called.

![image](https://user-images.githubusercontent.com/22582720/33380971-58f0512e-d4e2-11e7-8af5-634b9a3983cc.png)

Change request is to be able create personal contacts via the web widget. Also would like to see the create new contact in the history tab also

[2017-11-30 17:18] AndyHaas opened #52 "SMS Message not send notification"
If you send a sms and the sms failed to send please provide correct error messaging

from the web widget

[2017-11-30 17:28] AndyHaas opened #53 "Delete SMS"
From the message screen have an edit button where we can delete any messages

[2017-11-30 17:47] AndyHaas opened #54 "Group Chat Reply Name and Group Contact Names"
Under each person that replies it would be best to put who that person was. Also at the top instead of the extension numbers be able to do a contact lookup to resolve the name of the contact

![image](https://user-images.githubusercontent.com/22582720/33445968-2edfb702-d5c4-11e7-86ac-01fc657a74b8.png)

[2017-11-30 17:48] AndyHaas opened #55 "History Tab"
Have a search bar in the History tab which will allow you to easily find a call.

[2017-11-30 17:50] AndyHaas opened #56 "SMS Retrieve previous messages/conversations"
When you are in the web widget, message tab.  Any previous messages/conversations that you have may sent out via your cell phone or other apps do not get pulled in.

[2017-12-01 01:14] embbnux opened #57 "Deploy web widget with version on web widget"
Support to use web widget in different version.

[2017-12-01 01:15] embbnux opened #58 "Support to set call mode by API."

[2017-12-01 05:35] embbnux commented on #56
Hi, @AndyHaas Now the app only pulls messages in recent 7 days. We will create a enhancement to support to pull older message.

Does you get messages in recent 7 days? If you don't get, please let's know. it may be a bug.

[2017-12-02 02:10] akolahi commented on #48
I would also suggest the placement of the widget also remain consistent across refresh or new pages.  Often users place the widget within a certain convenient location on the page.

[2017-12-02 07:07] embbnux commented on #35
Hi, @AndyHaas Now the widget support to select device. And we provide API to ctrl the call out of iframe. But I don't know how to get the button event from headset. I will investigate it

[2017-12-02 07:10] embbnux commented on #48
Thanks @akolahi Will add it

[2017-12-02 07:23] embbnux commented on #49
Hi @AndyHaas Now the app supports to list voicemail in messages tab. Playing the voicemail will come soon.

[2017-12-02 07:26] embbnux commented on #54
The feature is supported now.

[2017-12-02 12:15] AndyHaas commented on #56
@embbnux the app does currently get the last 7 days of messages. When we convert over from the desktop app to the web widget I am trying to eliminate the calls of "Where are my messages"

[2017-12-02 12:16] #54 closed

[2017-12-02 12:17] AndyHaas commented on #49
- [ ] Play voicemail on voicemail messages -> voicemail tab

[2017-12-02 16:54] LingForCC commented on #56
@AndyHaas

[2017-12-04 01:02] embbnux opened #62 "A Tutorial about How to deploy this app to a web hosting and CDN"

[2017-12-04 14:24] embbnux commented on #48
@akolahi Now web widget supports to keep minimize and position state

[2017-12-04 14:24] #48 closed

[2017-12-08 17:42] akolahi opened #63 "Users getting logged out after an hour, even while on a call."
This issue was reported by some of our users:
'each hour they are using it it logs them out even if they are in the middle of a call.'

[2017-12-09 00:01] AndyHaas commented on #63
please look at issue #31 . You have to change your app config to have the app key.

[2017-12-11 06:33] embbnux commented on #63
Hi, @akolahi . Now in implicit grant flow, app doesn't support to refresh token. #8
It's recommended to provide appSecret to this app. Provide it as appKey:

[code]

[2017-12-12 01:57] akolahi commented on #63
Thank you. I've made the suggested change.

[2017-12-13 01:28] embbnux commented on #63
Thanks @AndyHaas @akolahi for feedback

[2017-12-13 16:42] AndyHaas opened #64 "CRITICAL: Placing Call on Hold"
When you place a call on hold and you come back to pick the call back up, the callers voice doesn't get transmitted over but the hold music does cut off on the receivers side and the receiver can talk and the caller can hear the receiver, but the caller can talk but the receiver can not hear the caller.

[2017-12-14 01:23] embbnux commented on #64
Hi @AndyHaas I will look at it.

[2017-12-14 01:44] embbnux commented on #8
It's supported on server now. Need to support refresh implicit grant flow token in web widget

[2017-12-15 01:23] embbnux commented on #64
Hi @AndyHaas  Would you please provide more information, such as browser version, network situation?  Actually, I can't reproduce this problem. Would you try it again?

[2017-12-15 13:17] AndyHaas commented on #64
@embbnux I was not able to reproduce this morning. I will continue to test.

Chrome 63.0.3239.87

[2017-12-18 05:37] embbnux commented on #64
Thanks, @AndyHaas I think it was caused by unstable network. Web phone audio is based on WebRTC which dependent on stable network.

[2017-12-18 09:19] #63 closed

[2017-12-18 13:08] AndyHaas commented on #64
Closing, until user can reduplicate, will troubleshoot further.

[2017-12-18 13:08] #64 closed

[2017-12-19 08:49] embbnux opened #66 "Cannot get ringing call in chrome latest version 63.0.3239.108"
Problem is related to this issue https://github.com/ringcentral/ringcentral-web-phone/issues/149

[2017-12-19 09:09] embbnux commented on #66
Works well now

[2017-12-19 09:09] #66 closed

[2017-12-19 13:12] #49 closed

[2017-12-19 13:15] AndyHaas commented on #33
Transfer to page still needs Lookup by Name or Number
![image](https://user-images.githubusercontent.com/22582720/34158758-50b84336-e48c-11e7-9c2a-a527fda7b075.png)

[2017-12-19 13:50] AndyHaas commented on #56
suggestion is when they scroll all the way at the top is to have a button that states to get the previous messages. and they can continue to scroll up and get the older messages

[2017-12-19 15:15] embbnux commented on #33
Transfer with contact searching will come soon.

[2017-12-22 01:21] embbnux commented on #56
Thanks @AndyHaas  Good idea, it has been in our backlog

[2017-12-28 07:04] embbnux opened #72 "API to get ringout(3 way) call notification out of web widget"

[2017-12-29 01:18] embbnux opened #73 "API to get message event out of web widget"

[2017-12-29 03:23] embbnux commented on #33
Transfer with contact searching is finished

[2018-01-04 02:41] #8 closed

[2018-01-04 02:47] embbnux commented on #23
Now app will show `unauthorized_client: The client is unauthorized for the required grant type: [IMPLICIT]` when app key without the required grant type

[2018-01-04 02:47] #23 closed

[2018-01-05 08:10] embbnux opened #75 "Add log button on call history and messages list page"
Add log button on call history and messages list page. When user clicks log button, create a log event with call log data.

[2018-01-05 13:19] AndyHaas commented on #75
@embbnux this is going to provide the details of the call correct?

[2018-01-13 13:50] AndyHaas opened #76 "Display times when texts were received"
When a text comes in on the web app I do not see when that text message comes in. Please display when that time cam in. Example of android phone app with what I am looking for.

![image](https://user-images.githubusercontent.com/22582720/34906606-5772e150-f836-11e7-9ac0-01c3ed22f484.png)

![image](https://user-images.githubusercontent.com/22582720/34906607-5b13eac0-f836-11e7-9ac9-7bd84acc90a4.png)

[2018-01-13 20:48] AndyHaas opened #77 "Caller ID showing Unknown"
When a customer calls in the caller ID shows "Unknown" but I can see what the customer name is from the event data.

![image](https://user-images.githubusercontent.com/22582720/34909921-b5ba13d4-f870-11e7-974a-8134e8688d0b.png)

![image](https://user-images.githubusercontent.com/22582720/34909923-bfb0883c-f870-11e7-9b5b-54aae79c163f.png)

[2018-01-15 01:38] embbnux opened #78 "Rate limit problem"
As title, when user opens the web widget in many tabs, it will cause API rate limitation problem

[2018-01-18 05:18] #72 closed

[2018-01-29 01:46] #78 closed

[2018-01-29 01:49] embbnux commented on #75
@AndyHaas Yes

[2018-01-31 02:12] embbnux opened #84 "App will be loged out after logged in sometimes"

[2018-02-01 22:00] AndyHaas commented on #56
Would like to see this get accomplished. I am using this a day to day tool and have to keep going to my cell phone to see previous texts. If there is any way to update this to allow a end user to grab previous messages this would make life a bit easier.

[2018-02-02 01:00] embbnux commented on #56
@AndyHaas I will push this. Thanks

[2018-02-09 02:51] embbnux commented on #84
Can not reproduce now

[2018-02-09 02:51] #84 closed

[2018-02-22 14:37] AndyHaas opened #89 "New Text Message Back to messages"
If you create a new text message and hit send. When you click the back arrow it brings you to a new text message instead of the message screen

![image](https://user-images.githubusercontent.com/22582720/36544251-a1567450-17ab-11e8-99b9-09bd50a7f821.png)

[2018-02-26 01:50] embbnux commented on #89
Hi, @AndyHaas It's a feature by design. I will check with PM

[2018-03-08 05:28] #89 closed

[2018-03-14 02:05] embbnux opened #93 "rename appKey and appSecret to clientId and clientSecret"
Need to support backward compatibility

[2018-03-30 10:26] Tonyabott opened #97 "Getting authorization error 400"
Getting below error after click on authorise,  can you please help me what i'm doing wrong.

[code]

Thanks in advance.

[2018-03-30 14:35] embbnux commented on #97
Hi, @Tonyabott Are you using RingCentral developer account to log into RingCentral Embeddable Voice?

The RingCentral free account created from RingCentral Developer Website don't have permission to log into third party app on production environment. The Embeddable Voice is developed as a third party integration app.

If you just want to test RingCentral Embeddable Voice Widget, you can turn this

[2018-04-02 07:50] Tonyabott commented on #97
Hi @embbnux , thanks for the quick reply.

Can we make calls from browser in sandbox environment?

[2018-04-02 15:46] AndyHaas commented on #97
@Tonyabott, You can make calls but you are unable to send SMS.

[2018-04-02 15:49] AndyHaas commented on #33
Closing issue. I have tested and verified all is working

[2018-04-02 15:49] #33 closed

[2018-04-02 15:51] Tonyabott commented on #97
@AndyHaas I followed the steps given by you, nothing happening when click on call button after entering the number. It prompts me to open RingCentral for Mac.

![screen shot 2018-04-02 at 9 19 06 pm](https://user-images.githubusercontent.com/34772600/38203101-abc7588a-36bb-11e8-9a14-0b0613ef8110.png)

Thanks In Advance.

[2018-04-02 15:53] AndyHaas commented on #97
Go into Settings and change the setting to Make my calls with to Browser

[2018-04-03 07:34] Tonyabott commented on #97
Yes, changed the settings and also have the permissions.

![screen shot 2018-04-03 at 1 00 07 pm](https://user-images.githubusercontent.com/34772600/38235658-7fb029a0-373f-11e8-8354-e30ae9d8f26a.png)

got the below warning when click on call button "Your extension is not allowed to make outbound calls with browser currently, please contact your account representative for an upgrade." Is this is du

[2018-04-09 01:41] embbnux commented on #97
Hi, @Tonyabott In browser web phone mode, it requires a Digital Line in your account. You need to add a phone in your sandbox account. Please visit `https://service.devtest.ringcentral.com` to add a Phone to your sandbox account.

[2018-04-12 12:11] Tonyabott commented on #97
Thanks @embbnux, I got that. Now i'm able to make calls from browser.

[2018-04-12 18:44] vyshakhbabji commented on #28
I am assuming we need sessions telephony api endpoint to swap between the active calls. I will keep a tab on this functionality and get back to you

[2018-04-16 01:31] embbnux commented on #28
Yes, Sessions telephony API will be very useful for this

[2018-04-17 01:29] embbnux commented on #15
Hi, @AndyHaas It isn't hard to do this.  I will start to work on this after I finished [messages enhancement](https://github.com/ringcentral/ringcentral-embeddable-voice/issues/56).
And you can also support this out of the widget by yourself.  You can listen to [web phone event](https://github.com/ringcentral/ringcentral-embeddable-voice/blob/master/docs/widget-event.md#web-phone-call-event) and u

[2018-04-20 01:47] embbnux commented on #97
Closed by resolved

[2018-04-20 01:47] #97 closed

[2018-04-23 02:05] embbnux opened #100 "Rate limit problem on heavy endpoint"
Sometimes, the Widget will get 429 rate limit problem on heavy endpoint. Reported from developers.

[2018-04-23 18:47] AndyHaas opened #101 "Ability to edit message"
Give the end user ability to edit message

![image](https://user-images.githubusercontent.com/22582720/39146590-d902010a-46fc-11e8-882b-508e4a1fcef7.png)

[2018-04-24 12:32] AndyHaas commented on #56
@embbnux this looks good. I was able to go all the way back to the begging of time. Much appreciated.

[2018-04-24 12:32] #56 closed

[2018-04-24 13:17] AndyHaas commented on #76
@embbnux looks on the staging you have added the time variable also. I have looked at this and the time is showing when necessary.

[2018-04-25 02:48] embbnux commented on #76
Yes, It's added

[2018-04-25 03:13] #76 closed

[2018-04-27 02:22] embbnux opened #104 "Use Embeddable Voice in Electron"

[2018-05-15 09:10] embbnux commented on #104
Following is a demo to show how RingCentral Embeddable Voice works with Electron https://github.com/embbnux/ringcentral-embeddable-voice-app

[2018-05-16 13:53] Tonyabott commented on #97
Hi @embbnux
Thanks for your support.

We started integrating RingCentral Embeddable Voice in our application.

Now we are getting an issue like 'Web Phone Unavailable'. We are using the same key's (APP - API key and Secret) what we tested in given demo. Its working fine in Demo where as it giving exception in the integrated app.

Can you please help us to overcome this issue.
![2018-05-16](https:/

[2018-05-16 13:56] Tonyabott opened #107 "Unable to make calls from browser (giving exception: Web phone unavailable)"
Hi @embbnux
Thanks for your support.

We started integrating RingCentral Embeddable Voice in our application.

Now we are getting an issue like 'Web Phone Unavailable'. We are using the same key's (APP - API key and Secret) what we tested in given demo. Its working fine in Demo where as it giving exception in the integrated app.

Can you please help us to overcome this issue.
![2018-05-16](https:/

[2018-05-17 14:35] embbnux commented on #107
Hi, @Tonyabott Can you check audio permission in Settings -> AudioSettings page.

[2018-05-17 14:38] Tonyabott commented on #107
Hi @embbnux,
Verified the settings and allowed the permissions.

If we use iframe, then we are facing this issue. Where as it works fine if we use the given script.

Thanks

[2018-05-17 14:40] embbnux commented on #107
Do you add `allow="microphone"` in iframe?  It makes browser to allow iframe to use microphone.

[2018-05-18 01:11] #15 closed

[2018-05-23 14:05] Tonyabott commented on #107
Hi @embbnux

Thanks for the support. It works.
Any way we opt to use script instead of iframe.

And we want to use Ring Central API's along with 'Embeddable Voice'. So, can we call the Ring Central API's with out any further authentication. (As we already authenticated with embeddable voice.). If yes where can we get access token in order to send it in header while calling API's.

Thanks in Advanc

[2018-05-24 05:17] embbnux commented on #107
@Tonyabott This is a demo that shows how to get access token from redirect uri.   https://github.com/embbnux/ringcentral-web-widget-demo

1. You need to configure Embeddable Voice to use your redirect uri.  https://github.com/ringcentral/ringcentral-embeddable-voice/blob/master/docs/customize-redirect-uri.md
2. Set Embeddable Voice to use your own ringcentral app client id. And please use implicit

[2018-05-24 06:47] tylerlong opened #109 "Calling settings words inconsistent"
![image](https://user-images.githubusercontent.com/733544/40468840-2481b5cc-5f61-11e8-8711-c8c3450aae8b.png)

![image](https://user-images.githubusercontent.com/733544/40469145-23bb4d1e-5f62-11e8-82b0-7e61c890b6af.png)

I think we should change "My Location" to "My RingCentral Phone", just to be consistent.

[2018-05-24 06:49] tylerlong opened #110 "Should not ask for audio permission if the browser doesn't support webrtc at all"
I tested it in an Android app web view.

It tell the user that "calling with browser is only supported on Chrome".

Problem is: it still asks for Android audio permission.   It shouldn't ask.

[2018-05-24 06:54] tylerlong opened #111 "Contact search should rank exact match first"
first example, I type in "1302" in dialpad page. The user with extension number 1302 is a full match. But it is ranked last.

[2018-05-24 18:33] Tonyabott commented on #107
Hi @embbnux

Can you please tell us, how we need to pass the access token to Embeddable Voice.

Thanks.

[2018-05-25 02:36] embbnux commented on #107
Hi, @Tonyabott Just in redirect page, add following codes:
[code]
Embeddable Voice can get it from `postMesssage`.
https://github.com/ringcentral/ringcentral-embeddable-voice/blob/master/docs/customize-redirect-uri.md

[2018-05-28 14:59] Tonyabott commented on #107
Hi @embbnux
1.
function checkLoign() {
      setTimeout(function () {
        platform.loggedIn().then(function(logined) {
          if (logined) {
            console.log('ringcentral platform logined');
            subscription.setEventFilters(['/account/~/extension/~/presence?detailedTelephonyState=true']).register();
            subscription.on(subscription.events.notification, function(msg) {

[2018-05-29 01:14] embbnux commented on #107
Hi, @Tonyabott `Account Presence Event` doesn't support `detailedTelephonyState`, please use `/account/{accountId}/presence` to listen account level presence.
For call notification, you can get it by `/account/~/extension/~/presence?detailedTelephonyState=true` in extension user level.
Following is detailed document about notification event. https://developer.ringcentral.com/api-docs/latest/index.

[2018-05-29 01:19] embbnux commented on #107
Actually for call notification, I think you can just listen to Embeddable Voice [active call event](https://github.com/ringcentral/ringcentral-embeddable-voice/blob/master/docs/widget-event.md#active-call-event), it is data from `/account/~/extension/~/presence?detailedTelephonyState=true`.
For sms event, we are planning to add sms event in Embeddable Voice. So you don't need to require it from Ri

[2018-05-29 12:47] Tonyabott commented on #107
Hi, @embbnux
Thanks, That's a good thing.
Please let us know when can we have the sms event in Embeddable Voice?
And also is there any other option to fetch the sms log to know whether the sms has been sent successfully and to read incoming messages?

[2018-05-30 04:22] dcrck opened #112 "SalesForce integration: is it possible to retrieve the details about the clicked phone number's Object (i.e. Opportunity) from the Widget?"
Title has the question. I tried accessing the URL, but the focus changes to the Widget and the URL is different. I'm trying to log the call directly to the object that the number is attached to (i.e. Opportunity) Wondering if there are any workarounds for the scenario I'm trying to enable. Thanks.

[2018-05-30 05:42] embbnux commented on #112
Hi, @rederekt Now the Widget doesn't support to retrieve the Object data.

But I think you can flag the phone number with the Object in salesforce onClickToDial event `opencti.onClickToDial` in VisualForce page scripts. And when you get call log event from the widget, use phone number from the call info and the flag to retrieve Object.

Following show how to use salesfore ClickToDial with the Widg

[2018-05-30 06:22] #112 closed, assigned to nobody

[2018-06-11 05:41] #73 closed

[2018-06-11 05:43] embbnux commented on #107
@Tonyabott The message event is available now https://github.com/ringcentral/ringcentral-embeddable-voice/blob/master/docs/widget-event.md#message-event

[2018-06-15 00:59] #62 closed

[2018-06-15 02:39] embbnux opened #118 "Handle `Error: Parameter [syncToken] is invalid` when sync message error"
Now when sync token is invalid in local, app is required to clear local storage. Need to fix it.

[2018-06-19 06:12] embbnux commented on #34
Hi, @AndyHaas  Now the widget support to import third party contacts by API. https://github.com/ringcentral/ringcentral-embeddable-voice/blob/master/docs/third-party-service-in-widget.md Free feel to give any suggestions in here.

[2018-06-19 09:10] embbnux commented on #118
Can not reproduce now.

[2018-06-21 06:37] embbnux opened #119 "Support to log call history and messages to third party service"
When developer registers third party logger service, app should show log button on call history and messages page. When user click log button, should send info to logger service.

When user enables auto log, app should send call history and messages automatically.

[2018-06-21 06:40] embbnux commented on #119
API will be same as https://github.com/ringcentral/ringcentral-embeddable-voice/blob/master/docs/third-party-service-in-widget.md

[2018-06-25 01:10] embbnux opened #120 "Add call action in call event"
Add call action such as `accepted`, `rejected`, `handup` and `voicemail`  into call event.

[2018-07-06 19:51] AndyHaas commented on #77
is this an issue with the data you are getting or RingCentral? I see this same issue with Googles Extension also.

[2018-07-10 01:13] embbnux commented on #77
Yes, Chrome extension and this app uses most same codes.
this app just use local contact data from contacts API to match phone number. The name in event is provided by server. Need to find way to handle those data.

[2018-07-11 07:01] #118 closed

[2018-07-13 01:54] embbnux opened #125 "Deploy this app to CDN to support multiple version and latest version"

[2018-07-17 05:36] #107 closed

[2018-07-17 09:11] embbnux commented on #50
Wait updating in RingCentral widgets library https://github.com/ringcentral/ringcentral-js-widgets/issues/900

[2018-08-03 02:05] embbnux opened #129 "Rename to RingCentral Embeddable"

[2018-08-03 02:05] dibyenduroy opened #130 "Feature to send a picture"
Need a Feature to send a picture.

[2018-08-03 02:05] embbnux opened #131 "Embed Glip messages into RingCentral Embeddable"

[2018-08-03 12:02] AndyHaas commented on #130
Duplicate #50

[2018-08-15 03:08] embbnux commented on #131
#134 https://github.com/ringcentral/ringcentral-js-widgets/pull/1052

[2018-08-23 06:04] embbnux commented on #129
- [x] Docs renamed
- [x] Repo renamed
- [x] Github Page renamed
- [x] Backward compatibility
- [x] CI renamed

[2018-08-23 06:04] #129 closed

[2018-08-24 06:39] embbnux commented on #131
Added. It ls disabled by default. Follow the [docs](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/disable-features.md#enable-glip-feature) to enable it. Need to add Glip permission in RingCentral Developer Website firstly.

[2018-08-24 06:39] #131 closed

[2018-08-28 19:01] vyshakhbabji opened #141 "Add section in the ReadMe with the minimum permissions required for the widget to work when the user creates app in DPW"

[2018-08-30 15:01] embbnux opened #144 "Support different user data in different domain"
Now when injects the widget into different website, the widget saves user data in local storage in same domain in a iframe. So it will use same user data. Need to support to config it to use different user data in different domain.
A configurable storage prefix should support this feature.

[2018-09-06 08:19] #104 closed, assigned to nobody

[2018-09-06 08:20] embbnux opened #148 "Support to lazy load third party contacts and support to sync updated data"
Problem from [devcommunity](https://devcommunity.ringcentral.com/ringcentraldev/topics/how-to-add-creational-of-third-party-crm-contacts-search-into-embeddable-widget?utm_source=notification&utm_medium=email&utm_campaign=new_comment&utm_content=reply_button&reply[id]=19740006#reply_19740006)

[2018-09-07 05:17] embbnux commented on #141
Add a section in here https://github.com/ringcentral/ringcentral-embeddable#create-a-free-ringcentral-app and https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/config-client-id-and-secret.md

[2018-09-07 05:17] #141 closed

[2018-09-14 05:35] embbnux opened #151 "Add call event when a outbound call is answered"
Need to use new Call Session Notification API

[2018-09-18 09:23] embbnux opened #153 "Support to show third party service authorization button in widget"
For some CRM API, they require OAuth before we can use it. So it is better to show a third party connection button in the widget. When user click Link or authorization button in widget, we send message out of widget, so developer can handle it.￼
![image 7](https://user-images.githubusercontent.com/7036536/45677740-8314bc80-bb67-11e8-9ea9-c68397256dca.png)

[2018-09-19 07:23] #153 closed, assigned to nobody

[2018-09-19 09:28] zxdong262 opened #155 "In setting, auth button and service name text is not aligned vertically"
<img width="291" alt="screen shot 2018-09-19 at 17 22 10" src="https://user-images.githubusercontent.com/1641949/45744536-60e77100-bc31-11e8-925e-a3280aa315fc.png">

[2018-09-20 01:26] zxdong262 opened #156 "Search third party contacts will always return empty"

[2018-09-20 01:28] zxdong262 commented on #156
Oh, it is search phone number, It works.

[2018-09-20 01:28] #156 closed

[2018-09-25 19:18] buildup1 commented on #7
How to use RingCentral developer account to login in Softphone in salesforce app, currently it is shows signIn button when I put my RingCentral developer account it say access denied ? Any help?

[2018-09-28 03:13] embbnux opened #159 "Can not search third party contacts in contacts list page"

[2018-09-30 07:29] #159 closed

[2018-10-16 03:03] embbnux opened #162 "Allow to show call log form modal when click log button"
As we do in RingCentral zendesk integration:
![image 8](https://user-images.githubusercontent.com/7036536/46990283-250dd180-d133-11e8-88c5-508c9a825699.png)

[2018-10-31 22:42] rxd2 opened #163 "Clicking on tel link opens "Pick an app" dialog"
So, I have some <a href="tel:...> links in my app. The widget makes them clickable. Great so far.

The widgets starts dialing as supposed to, however the browser dialog is also displayed, with no obvious option to turn them off.

In Chrome, it looks like this:

![image](https://user-images.githubusercontent.com/306387/47823080-f865d680-dd3c-11e8-88d0-6eb60c0fa2cc.png)

Any ideas how to get rid of

[2018-11-01 13:36] rxd2 commented on #163
Great, thank you! Having my own selector and clickToCall is what I ended up doing.

[2018-11-01 13:36] #163 closed

[2018-11-22 06:07] #162 closed

[2018-11-28 08:05] #144 closed

[2018-12-04 01:18] embbnux opened #168 "Support to pass message text with ClickToSMS"
Relate to this question https://devcommunity.ringcentral.com/ringcentraldev/topics/ringcentral-embeddable-sms-pass-the-massage-after-click-can-it-be-done

We need to support to pass message text when click to dial from out of widget

[2018-12-05 05:34] embbnux opened #169 "Only request updated contacts when user goto contacts page"
Relate to https://devcommunity.ringcentral.com/ringcentraldev/topics/optimise-contact-list-requests-in-the-rc-widget?utm_source=notification&utm_medium=email&utm_campaign=new_topic&utm_content=topic_link

When user goto contacts page, our widget will require full contacts data from third party. It should support to only request update contacts

[2018-12-05 06:08] #168 closed

[2018-12-06 08:33] embbnux opened #172 "tel link listener doesn't work after DOM updated"
Now in `adapter.js`, we will listen to `<a href="tel:...>` link click event to start a call.
But it fails on single page application. When DOM is updated, we need to rebuild click listener.

[2018-12-14 19:34] andrewklaus opened #176 "Company associated with RC account is not found"
I'm getting this error message.
![image](https://user-images.githubusercontent.com/9679972/50023379-f3719380-0019-11e9-9ec5-e38c9a776f4b.png)
Which is called or run periodically when the APP is running.
Already set all information of Company at https://service.devtest.ringcentral.com but still issue persist.
Though all I want if possible is to remove GLIP if possible or remove that call if it will

[2018-12-18 03:10] embbnux commented on #176
Hi, @andrewklaus This is a bug of glip sandbox API. Our engineer is working on this. [The Glip feature](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/disable-features.md#enable-glip-feature) is disabled by default. And it is enabled in our live demo https://ringcentral.github.io/ringcentral-embeddable/ If you embed this widget to your website, it is disabled by default

[2018-12-18 06:22] embbnux opened #179 "Support web phone in Firefox"
In new ringcentral-web-phone version, we have support Firefox. Need to support it in RingCentral Embeddable.

[2018-12-20 01:50] embbnux commented on #172
Fixed

[2018-12-20 01:50] #172 closed

[2018-12-25 07:54] #179 closed

[2018-12-25 08:02] embbnux opened #183 "Please upgrade widget to >0.2.0 to fix web phone problem before chrome 72 released"
In Chrome 72 or newer version(about **Jan 29th, 2019**), there are some changes which will cause our web phone broken. We have release 0.2.0 version of RingCentral Embeddable to fix this issue.  https://github.com/ringcentral/ringcentral-web-phone/issues/174

If you are using latest RingCentral Embeddable version from our github page, it will be upgraded automatically.

If you are using stable ver

[2019-01-16 07:39] embbnux opened #193 "API to get locale, region, calling settings"
We may need to know current RingCentral user's region settings or calling settings out of widget

[2019-01-16 08:02] embbnux opened #194 "API to set calling mode"
We have web phone as default calling mode. But for some developer, they want to use ringout call

[2019-01-24 02:08] embbnux opened #195 "add meeting feature"

[2019-01-29 09:02] embbnux opened #198 "New floating badge"
In RingCentral official chrome extension, we have new floating badge:
![image](https://user-images.githubusercontent.com/7036536/51896450-7cd0ff80-23e7-11e9-9c9b-e260623e0c91.png)

[2019-01-31 08:53] embbnux opened #199 "Allow apps to add desired User Agent into X-USER-AGENT header"

[2019-01-31 09:12] grokify commented on #199
Allow apps to pass in User Agent string to be passed into JS SDK `X-User-Agent` header as seen here.

Ideally:

1. the app using Embeddable should pass in its desired `X-User-Agent` string to Embeddable.
1. Embeddable should concatenate the app-supplied string with it's own string with version number, e.g. "RingCentral Embeddable v0.2.1" and pass the combined string the RingCentral JS SDK.
1. the

[2019-02-11 06:33] embbnux commented on #199
@grokify In PR #200 , it allow user to pass userAgent into widget to add user agent string into X-User-Agent header. Do you think `userAgent` is good name?

[2019-02-19 13:52] embbnux opened #201 "Add frequently asked questions into docs"
Add frequently asked questions into docs, such as:
   - Why my developer account can't log into Embeddable https://github.com/ringcentral/ringcentral-embeddable/issues/97#issuecomment-377537326
   - How to change environment into sandbox

[2019-02-21 20:03] ElridgeDMello opened #202 "Missing sessionId in event payload for call placed through browser"
Calls initiated via the embeddable, but performed over an actual cell phone (i.e. RingOut calls) have event payloads that contain a `sessionId`. e.g. the payload below received for the `rc-ringout-call-notify` type event:

[code]

BUT, a call placed via the browser (i.e. through the embeddable), the payload received for the event does not contain the `sessionId` value. e.g:
[code]

Note that `part

[2019-02-23 15:59] embbnux commented on #202
Hi @ElridgeDMello , you are right. Now the web phone call doesn't have session id. It is caused by this issue https://github.com/ringcentral/ringcentral-web-phone/issues/132. We will fix this after our SIP server support this.

You can listen to `Active Call Event` which includes web phone call and ringout call, and it includes session id https://github.com/ringcentral/ringcentral-embeddable/blob/

[2019-02-26 22:32] ElridgeDMello commented on #202
Thanks @embbnux for that info - I think that will get us what we need.

[2019-02-28 01:04] embbnux commented on #202
You are welcome. For mapping from web phone session and active call, you can use `partyData.sessionId` and `telephonySessionId`.

[2019-02-28 01:04] #202 closed

[2019-03-08 03:38] #199 closed

[2019-03-13 07:26] embbnux commented on #195
Supported after #211
Docs: https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/third-party-service-in-widget.md#add-meeting-schedule-feature-with-your-service

[2019-03-13 07:26] #195 closed

[2019-03-28 08:41] embbnux commented on #198
added in #219

[2019-03-28 08:41] #198 closed

[2019-03-28 08:42] embbnux commented on #151
Supported in #219

[2019-03-28 08:42] #151 closed

[2019-03-28 08:44] embbnux commented on #120
- [x] accepted
- [x] handup
- [ ] rejected
- [ ] voicemail

[2019-03-28 08:50] #34 closed

[2019-03-28 08:51] embbnux commented on #40
E2E tests added. Will open unit test in another issue to track.

[2019-03-28 08:51] #40 closed

[2019-04-10 06:46] #155 closed

[2019-04-11 02:43] zxdong262 opened #222 "Support empty phone array"
For third party contacts, they may not have a phone number, need to support this situation.

[2019-04-11 09:29] embbnux commented on #222
Empty array is supported. Now we don't support `[undefined]`. Will update to support this.

[2019-04-18 14:12] embbnux opened #228 "3 way calling for inbound call"

[2019-04-29 17:57] ElridgeDMello opened #229 "Have to go through sign-in process twice to log in"
Hello,

We are using the embeddable widget version 0.2.2 https://apps.ringcentral.com/integration/ringcentral-embeddable/0.2.2/adapter.js?appKey=...snip...&appServer=https://platform.devtest.ringcentral.com

but we're experiencing the following issue: We have to go through the sign in process twice for the widget to successfully log us in.  This behavior happens in both Sandbox and Production envi

[2019-05-02 15:13] embbnux commented on #229
Hi @ElridgeDMello,

Thanks so much for feedback. I think it is a bug in widget.
Can you provide javascript console logs in chrome developer tools. Our widget will log detail error messages for login fail.

Thanks

[2019-05-05 16:17] embbnux commented on #119
Link issue https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/120

[2019-05-06 20:08] ElridgeDMello opened #230 "Programatically set 'from' number"
Hello,

Is there a way to programmatically set the 'from' number before a call is made?

![image](https://user-images.githubusercontent.com/1136153/57251959-b336a000-7010-11e9-9c42-183c6a09013f.png)

We would like to specify the best number based on area code when dialing out.

[2019-05-06 20:08] ElridgeDMello commented on #230
Relatedly, is there a way to get the list of From numbers via the widget?

[2019-05-08 00:48] zxdong262 opened #231 "Ban calling self or support it, or the widgets will not work right"

[2019-05-08 08:27] embbnux commented on #230
@ElridgeDMello Now the widget haven't provided that data and API. Will talk to PM about this.

[2019-05-08 08:29] embbnux commented on #231
Yeah, there are known issues when calls self.  Need to talk with widgets PM for this.

[2019-05-08 08:31] embbnux commented on #229
@ElridgeDMello Can you still reproduce this. I checked in my side, and works well. Can you provide more details and logs for track this issue.

[2019-05-09 21:30] ElridgeDMello commented on #229
@embbnux I have not been able to reproduce the issue today.  I haven't changed versions of the widget, so wonder if something changed on the backend?

[2019-05-15 00:27] zxdong262 opened #232 "Support sync message event like call log sync"
We need a message sync switch like call log sync feature, this feature is required by more than one user, https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/120#issuecomment-487430245

[2019-05-15 00:29] zxdong262 opened #233 "Support sync voicemail/call recording to third party CRM"
From user require, got email about this feature too.
https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/140

[2019-05-28 20:24] amz27 opened #235 "Get access token without customizing the redirect uri"
I wanted to create an interface for users to access the call recordings.
[https://developers.ringcentral.com/guide/call-log/manual/recordings](url)
By following the above guideline, I need the access token to fetch the list of Call Logs.
Is there any way we can get the access token using the default redirect uri ([https://ringcentral.github.io/ringcentral-embeddable/redirect.html](url))?

[2019-05-29 01:13] embbnux commented on #235
Hi @amz27, this issue is same as #233
We will support to pass call recording uri (can be downloaded) to your app.

[2019-05-29 05:42] embbnux commented on #228
Supported

[2019-05-29 05:42] #228 closed

[2019-05-29 08:55] #222 closed

[2019-05-29 08:55] zxdong262 commented on #222
No need any more

[2019-06-05 07:32] embbnux commented on #201
* Why app can't get microphone permission

[2019-06-10 01:49] embbnux opened #242 "Error report doesn't work with https"
Need to wait our error report server to support https

[2019-06-12 07:09] embbnux commented on #235
Hi @amz27 , We have added recording with token support in our master build. You can follow this docs to try it. https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/third-party-service-in-widget.md#add-call-logger-button-in-calls-page

[2019-06-13 14:28] amz27 opened #245 "Call logger message event"
After I registered the call logger service and enabled the Auto log calls in settings, I found that the message event would not only be fired when a call is finished, but also after "init call" (when user creates a call) and "start call" states (when an incoming call is accepted or an outbound call is connected).

[2019-06-14 03:01] embbnux commented on #245
Yeah, you are right. I think this is mistake in docs. Some developers want to create log when call started. And update call log when call status is updated.

[2019-06-17 02:13] embbnux commented on #229
I think this is caused by some network issues. Will still track on this.

[2019-06-17 15:32] amz27 opened #247 "Add delete button in calls history"
It would be appreciated if we can have a delete button and a clear all calls button in the calls history.

[2019-06-18 05:34] embbnux commented on #247
Thanks @amz27 this will be a great feature. I will talk to our PM about this.
Now our widget only loads recent 7 days calls from server.

[2019-06-20 08:09] embbnux commented on #235
@amz27 Hi, I think you are trying the new recording token api in other issue. Do you still need to get token as you mentioned?
Or I am going to close this issue?

[2019-06-20 15:19] amz27 commented on #235
@embbnux Thanks for the help. I got what I want, the API is really helpful.

[2019-06-21 01:44] embbnux commented on #235
Cool. Thanks @amz27, I will close this issue.

[2019-06-21 01:44] #235 closed

[2019-07-02 23:40] zxdong262 opened #254 "Need a way to see sms history"
From James Lao#ringcentral

[2019-07-15 02:21] embbnux commented on #194
Supported after #261 , docs [here](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/interact-with-calling-settings.md)

[2019-07-15 02:21] #194 closed

[2019-07-15 02:23] embbnux commented on #58
Duplicate #194

[2019-07-15 02:23] #58 closed

[2019-07-15 02:26] embbnux commented on #57
Supported https://github.com/ringcentral/ringcentral-embeddable/releases

[2019-07-15 02:26] #57 closed

[2019-07-15 07:24] embbnux commented on #229
Found from other cases:
If we opened multiple pages (tabs) with RingCentral Embeddable in different environment (sandbox or production) or different RingCentral app id, when user logged in a tab, other tab will make app logout. So user needed to login again.

[2019-07-23 02:43] embbnux commented on #233
Supported on 1.0.0

[2019-07-23 02:43] #233 closed

[2019-07-23 02:45] embbnux commented on #232
Supported on 1.0.0

[2019-07-23 02:45] #232 closed

[2019-07-23 02:46] embbnux commented on #75
Supported on 1.0.0

[2019-07-23 02:46] #75 closed

[2019-07-24 07:40] embbnux opened #267 "Active call control hold issue"
There are issue when app try to unhold call that in other device.
https://github.com/ringcentral/ringcentral-embeddable-electron-app/issues/10

[2019-07-24 08:04] embbnux commented on #267
It is a known issue of unhold api https://developers.ringcentral.com/api-reference/Call-Control/unholdCallParty Need to wait it to be fixed.

[2019-07-25 02:45] embbnux opened #268 "Disconnect web phone connection to remove limitation of 5 tabs in browser call mode"
In our widget, we have limitation of 5 web phone instance. I think we can disconnect inactive instance to fix the limitation.

[2019-07-25 02:53] embbnux opened #269 "Add tutorial to show how to integrate Embeddable in standalone window"
add tutorial to show how to integrate Embeddable in standalone window without using browser extension.

[2019-07-25 02:55] embbnux commented on #269
In standalone window, we can avoid 5 tabs limitation #268

[2019-07-25 02:58] embbnux commented on #230
Hi, @ElridgeDMello We released a new version in our [master](https://ringcentral.github.io/ringcentral-embeddable/#) build. Now it support to get from numbers and set from number by API. You can try it with this [document](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/interact-with-calling-settings.md#enable-call-from-number-setting)

[2019-07-25 20:03] ElridgeDMello commented on #230
Hi @embbnux thanks for the update, this is promising.

I just checked this out and have some feedback before this could be useable:

1. I do not see a `fromNumbers` key in the `rc-calling-settings-notify` event data that is logged:
```{type: "rc-calling-settings-notify", callWith: "browser", callingMode: "webphone"}```

2. Firing the `rc-calling-settings-notify` _only_ when the call settings are c

[2019-07-26 07:38] embbnux commented on #230
Hi @ElridgeDMello, do you add `enableFromNumberSetting` in URI. The widget will only show fromNumbers in `rc-calling-settings-notify` when it is enabled and callWith is "browser".

And `rc-calling-settings-notify` is fired when page loaded or setting changed. So you can get it when page is loaded without setting changed.

[2019-07-26 11:23] ElridgeDMello commented on #230
Sorry, I missed that step.  I had tried it out on the [demo page](https://ringcentral.github.io/ringcentral-embeddable/).  Will try it out.  Thanks!

[2019-07-29 05:32] embbnux commented on #230
Cool! Look forward to your feedback, Thanks

[2019-07-31 02:15] embbnux opened #270 "Web phone will get 5 limitation when users refresh page frequently"
Web phone will get 5 limitation when users refresh page frequently.

[2019-08-01 07:25] #270 closed

[2019-08-01 07:25] embbnux commented on #268
supported with #271

[2019-08-01 07:25] #268 closed

[2019-08-05 17:12] ElridgeDMello commented on #230
Hi @embbnux, I tried out loading the widget with the `enableFromNumberSetting` in URI.

It fires the `rc-calling-settings-notify` event on widget load (great!) and settings change, but the data does not include the `fromNumbers` list.

Here's the data that is logged in the browser console:
`rc-calling-settings-notify: {type: "rc-calling-settings-notify", callWith: "browser", callingMode: "webphone

[2019-08-15 07:10] embbnux commented on #230
Hi @ElridgeDMello Sorry for miss this message. `FromNumberSetting` is supported on master release. And will supported in 1.0.1.  And your full url is 1.0.0.
I will update in here when 1.0.1 released.

[2019-08-15 08:02] embbnux commented on #230
1.0.1 released

[2019-08-15 09:07] embbnux opened #277 "Config to disable message event when tabs is inactive"
Add a config that make Embeddable only send message when tab is active or last tab

[2019-08-16 18:10] tance77 commented on #176
Status on this? This still seems to be happening 8 months later.

[2019-08-20 02:28] embbnux commented on #176
Hi @tance77, the root cause is that Glip feature didn't enable by default. User need to use my glip app before using Glip api. For sandbox user: https://glip.devtest.ringcentral.com, production user: https://app.glip.com/

[2019-08-21 02:45] ElridgeDMello commented on #230
Hi @embbnux, thanks for that!  This is working for us now.  Thanks much for the follow up!

[2019-08-21 08:45] embbnux commented on #230
That's awesome that it works for you.

[2019-08-21 08:50] #230 closed

[2019-08-22 01:55] embbnux commented on #269
A demo of standalone Embeddable https://embbnux.github.io/ringcentral-embeddable-standalone-demo/
Issue: can't get window focus in other tab when get incoming call

[2019-08-22 05:50] #277 closed

[2019-08-28 21:23] ashleycorinnex opened #284 "Cloned Project, Doesn't Work"
My embeddable project worked great yesterday but now I upgraded my node modules (npm i) and now it is broken. Just to make sure it wasn't on my end I cloned the embeddable project directly and tried running it and it still does not work. I keep getting this error: "Uncaught TypeError: Cannot read property 'getUIProps' of undefined" in node_modules/ringcentral-widgets/lib/phoneContext/index.js?54d2

[2019-08-29 02:55] embbnux commented on #284
Hi @ashleycorinnex It is caused by upgrading in `ringcentral-widgets` lib. We have updated Embeddable codes to use new version of widgets lib https://github.com/ringcentral/ringcentral-embeddable/pull/283 .

It is recommended to use `yarn`,  it will install dependences based on `yarn.lock`. so you can keep dependences locked unless you upgrade them manually.

[2019-08-29 02:58] embbnux commented on #269
For browser limitation, standalone(popup) window isn't a good solution. It is recommended to use browser extension for standalone window integration.

https://github.com/ringcentral/ringcentral-embeddable-extension-factory is a tool to help generate browser extension with Embeddable

[2019-08-29 02:58] #269 closed

[2019-08-29 17:03] ashleycorinnex commented on #284
Thank you!

[2019-08-29 17:03] #284 closed

[2019-09-09 15:01] mangatinanda opened #285 "It is unsafe to expose Client Id and Client Secret in a browser based app"
[It is critical that developers never include their client_secret in public (mobile or browser-based) apps](https://www.oauth.com/oauth2-servers/client-registration/client-id-secret/)

Anyone can steal them and misuse it.

There should be an alternate way to refresh the session like an event that must be fired before the session expires. It is the host application problem to securely refresh the a

[2019-09-10 05:12] embbnux commented on #285
Yes, you are right. Now we also provide implicit auth flow that only need app client id in client side. But login session will be expired if user is not active in a hour.
And we also have some investigation on server-side auth proxy which will handle authorization in server-side.

[2019-09-10 14:52] mangatinanda commented on #285
Awesome. Thanks for the prompt reply.

The way I envision it, the embeddable should take the url as input. When clicked on login button, a window opens the url, which should redirect to Ringcentral login page, and when the oAuth is successful, the window will send the auth data to the embeddable.

For all the subsequent refresh token requests, the embeddable should fire a postMessage event. The en

[2019-09-11 02:12] embbnux commented on #285
That's great idea. I think we can also just fire a postMessage when user click login button. So web that outside the widget will handle auth flow.
Now we can pass token to the widget by following message api:

New token:
[code]
Refresh token:
[code]

[2019-09-12 16:27] ashleycorinnex opened #287 "Dialer search drop-down goes in front of the dial buttons"
When I click the dialer buttons the search drop-down drops in front of the buttons so I am not able to click anymore unless I close the drop-down each time.

![image](https://user-images.githubusercontent.com/46426941/64802435-8145c500-d53f-11e9-9f7b-be827ddceb3d.png)

[2019-09-13 15:27] ashleycorinnex opened #288 "Contact Details Not Showing All Properties"
The Embeddable contact details page is missing contact properties such as Job Title and Company. It would also be great if we could add our own meta data properties because we want to add Manager and Username from our own database.

![image](https://user-images.githubusercontent.com/46426941/64874024-1a87e080-d5ff-11e9-957d-0f01aaf7ef2f.png)

[2019-09-16 02:14] embbnux commented on #288
Thanks @ashleycorinnex It is great idea. Will talk with our PM about this.

[2019-09-16 02:17] embbnux commented on #287
Thanks @ashleycorinnex, it is auto-complete feature in dialer input. Will feedback to PM for better user experience

[2019-09-19 23:19] curtishollawayTSI opened #289 "Cannot delete faxes"
In the messages tab, when a fax is received we are unable to get it out of the list.

[2019-09-19 23:20] curtishollawayTSI opened #290 "Press Enter twice to dial from dialer"
Would it be possible for users that type phone numbers to call to be able to call that number after pressing enter twice?  Our experience with Skype (Lync) works this way and feels intuitive.

[2019-09-20 00:32] embbnux commented on #290
Hi @curtishollawayTSI , it is great idea. Will investigate if we can do that in web page.

[2019-09-20 00:34] embbnux commented on #289
Thanks @curtishollawayTSI , we haven't implement this feature. It is in our backlog. Will push it.

[2019-09-20 17:09] curtishollawayTSI opened #291 "Contact Thumbnail does not appear in the list until after navigating to details"
We have put our contact Thumbnail photos on extensions and they are not showing on the contacts page until we drill into their details.  From that point on they are available in the list.

Would like to see the photo available in the list.

[2019-09-23 21:55] curtishollawayTSI opened #292 "Custom Contact Search on Transfer Panel"
We would like to be able to inject our own contact search functionality when the transfer page is loaded.

Our use case is:
To avoid a queue, someone calls in and asks to speak with the person they are trying to get in touch with.  On the transfer panel, if this person is part of a queue, we want to hide their direct extension and only allow the queue to be chosen.  In the normal Dialer, we would

[2019-09-24 02:11] embbnux commented on #292
Thanks @curtishollawayTSI It is a great idea, will feedback to our PM

[2019-09-24 02:15] embbnux commented on #291
Hi @curtishollawayTSI, it is by design now. We disabled to load avatars in list page for performance issue. Will feedback to team and find a way to resolve it

[2019-10-21 08:38] embbnux opened #298 "Default app client id will be removed in versioned Embeddable"
Default app client id will be removed in versioned Embeddable (1.0.2 [CDN version](https://github.com/ringcentral/ringcentral-embeddable/releases)). So it is required to create your own RingCentral app client id and pass to Embeddable widget, [this](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/config-client-id-and-secret.md) is docs to setup your own RingCentral app.

[2019-10-24 09:12] embbnux commented on #183
closed

[2019-10-24 09:12] #183 closed

[2019-11-01 17:18] JiandongRuan commented on #97
I am hitting the same issue. But when I tried to create the "RingCentral for Desktop" device, I was asked to assign a number to the device. "Select Existing Number" button was disabled and "New Number" isn't free. How can I test the embeddable using developer account?

[2019-11-01 19:24] JiandongRuan opened #302 "Unable to test embeddable using developer sandbox account"
I am hitting similar #97 issue. But I was unable to create the "RingCentral for Desktop" device without getting a new number, which isn't free. Is there anyway to test embeddable in sandbox for free?

[2019-11-04 08:56] embbnux commented on #302
Hi @JiandongRuan Before you use our desktop app in sandbox, you need to add a device and assign to your extension in here http://service.devtest.ringcentral.com/

 https://developers.ringcentral.com/guide/basics/your-rc-phone

![image](https://user-images.githubusercontent.com/7036536/68108831-edcbb780-ff23-11e9-939e-2bf29acd1b51.png)

[2019-11-04 09:08] embbnux commented on #97
@JiandongRuan Can you provide more information how you hit this issue.
Are you using your own RingCentral app client id?  And is your app client id private?

[2019-11-04 17:06] JiandongRuan commented on #302
Today, I went through exactly the same steps which I did when I opened this issue. This time, getting the free new number completed successfully.

[2019-11-04 17:06] #302 closed

[2019-11-05 01:26] embbnux commented on #288
@ashleycorinnex we have supported to show company and job title in contact detail page in v1.0.3

[2019-11-07 06:55] embbnux commented on #229
Closed by inactive. I think the root cause is as mentioned in upper message. Feel free to reopen if you got some issue.

[2019-11-07 06:55] #229 closed

[2019-11-07 06:56] embbnux commented on #119
supported

[2019-11-07 06:56] #119 closed

[2019-11-07 06:57] #100 closed

[2019-11-07 06:57] embbnux commented on #245
closed by inactive

[2019-11-07 06:57] #245 closed

[2019-11-07 07:26] #176 closed

[2019-11-08 18:46] curtishollawayTSI opened #303 "Feature request. Allow secondary speaker for ringing"
On Skype (Lync for business) we could set a secondary speaker for ringing.  It allows the users to use a headset, but when it is set down to still hear the phone ring.  Is this possible?

[2019-11-11 06:32] embbnux commented on #303
Thanks @curtishollawayTSI Will investigate if web app can support this.

[2019-11-11 07:09] embbnux commented on #303
We can set audio speaker with `setSinkId` API https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/setSinkId . And this API only is supported in Chrome, and limited in Firefox.
But can't make two speakers play on same Audio element. So maybe we can try with two Audio element to play same ringing.

[2019-11-11 17:55] curtishollawayTSI commented on #303
@embbnux Thank you for doing the look up.  Our use case is building and distributing an electron app which utilizes chromium so we don't have to worry about additional browser scenarios.  I validated that I can set up an audio stream and attach it to a different speaker.  Is this something you will be buiding pretty soon on this project or should we come up with our own solution for short term?  I

[2019-11-12 02:02] embbnux commented on #303
@curtishollawayTSI  I think you should come up with your own solution for short term.  We don't have plan for this recently.
I think you can try to hack audio helper in web phone `phone.webphone._webphone.userAgent.audioHelper`. We call this to play incoming ringing: `phone.webphone._webphone.userAgent.audioHelper.playIncoming(1)`. You can find source code in here https://github.com/ringcentral/ri

[2019-11-12 03:02] embbnux opened #306 "Switch call from other devices"
When we get active calls in other devices,  provide a button that allow user to switch call from other device to this app.

[2019-11-22 01:21] SampsonCrowley opened #307 "DND Status"
Would be nice to have a way to change DND Status both through a postMessage and in the call settings

I can't seem to figure out where in the embeddable I can get direct access to the SDK with config

want to post to `/restapi/v1.0/account/${accountId}/extension/${extensionId}/presence`

[2019-11-22 01:23] SampsonCrowley commented on #298
Ok, how does that work for newcomers that just want a drop in embed? not everyone knows how to force the embeddable to hit every API 5 times to make it to production

[2019-11-22 01:23] SampsonCrowley commented on #298
I thought the whole point of this was so that we have a drop-in website embed for users that don't have the capability to develop something themselves

[2019-11-22 05:11] embbnux commented on #298
@SampsonCrowley Good point.  Will think more about this. For example, provide docs for how to make app production.
We still provide default client id in master build https://ringcentral.github.io/ringcentral-embeddable/adapter.js .
Thanks so much.

[2019-11-25 02:00] embbnux commented on #307
Hi @SampsonCrowley , you can try this:
[code]

Send message to widget iframe to update DnD.

[2019-11-25 17:11] SampsonCrowley commented on #307
doesn't change the actual presence, only cosmetic. API call is only triggered on click

[2019-11-26 02:31] embbnux commented on #307
@SampsonCrowley Just tried this, and it works in my side:
![image](https://user-images.githubusercontent.com/7036536/69594477-6c090e80-1037-11ea-8383-bf1062d3fccf.png)
Can you provide more information, such as screenshot, log and network log, so we can find why it didn't work. When user clicks dropdown on left-top presence setting, we send this message to update presence.

[2019-11-26 06:41] embbnux commented on #306
Supported in master

[2019-11-26 06:41] #306 closed

[2019-12-02 18:10] SampsonCrowley commented on #298
@embbnux Looks good

[2019-12-05 22:04] SampsonCrowley commented on #307
there was nothing in the network log last time i tried it. it changed the select option by my presence still stayed what it was before

[2019-12-06 08:47] embbnux opened #315 "Notify user when user closes tab and there are active call sessions"
When user closes tab and there are active call sessions, need to notify user there are call ongoing

[2019-12-06 20:08] SampsonCrowley commented on #307
there has apparently been an update to the base widget since I opened this issue, as there is now a "Accept call queue calls" toggle, where that vital checkbox used to be missing

[2019-12-06 20:45] SampsonCrowley commented on #307
[code]
Does not toggle "Accept Queue Calls" back on if presence is set to "Available"

If I do
[code]
It is toggled back on

[2019-12-09 02:29] embbnux commented on #307
@SampsonCrowley you are right. This is by design now. Will talk with PM about this.

[2019-12-09 16:15] ElridgeDMello opened #317 "How to conference/merge calls?"
When we have two (or more) calls ongoing, how do we conference/merge them together (in the UI or programmatically)?

When there are two active calls, here's an example of what we see:
* In Ringcentral Embeddable UI:

![image](https://user-images.githubusercontent.com/1136153/70448198-a3c77b80-1a65-11ea-8718-393cd5951d8c.png).

* Compared to the Ringcentral Phone UI which has a 'Add' button that al

[2019-12-10 02:54] embbnux commented on #317
Hi @ElridgeDMello , it is supported in Embeddable. You can follow here to enable https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/disable-features.md#enable-conference-call-feature
For conference call, `TelephonySession` permission is required in app. But it is still in beta. So need to send email to apply it as mentioned in docs.

[2019-12-10 15:32] ElridgeDMello commented on #317
Hi @embbnux thanks for the response, I have emailed devsupport about this.

A follow up question:  Is there a way to programmatically conference two calls together, or is this a future feature on your roadmap?

We would like to have this type of programmatic integration:

User clicks to dial number 1, first call is initiated:
[code]

After speaking to callee 1, user clicks to dial number 2, second

[2019-12-11 01:32] embbnux commented on #317
Hi @ElridgeDMello, it not currently planned. But it is great idea. Will add it to our roadmap.

[2019-12-11 14:38] ElridgeDMello opened #319 "Conference call events different between Browser and Desktop calling modes"
We have the Ringcentral embeddable integrated into our application.  Some of our users use calling mode 'Browser' whereas others use 'Ringcentral for Desktop'.

In evaluating conference calling in our sandbox environment, I noticed that when in a conference call the `rc-active-call-notify` events are different between the two calling modes (Browser vs Desktop).

In the Browser case, when the confe

[2019-12-12 05:14] embbnux commented on #319
Hi @ElridgeDMello It seems there are issues in active call control notification api. Will talk with my colleagues to confirm this.
Thanks for feedback this.

[2019-12-13 16:43] ElridgeDMello opened #321 "Unexpected rc-active-call-notify events telephonyStatus state transitions"
When we make a call, the `rc-active-call-notify` events received (in sequence) occasionally go through the following `telephonyStatus` state transitions  (even though the call gets connected to the target number):

* Unexpected sequence:
Ringing -> NoCall -> Ringing -> CallConnected -> NoCall

* However, the expected sequence of state transitions is (most times this happens):
Ringing -> CallConnec

[2019-12-16 02:04] embbnux commented on #319
Hi @ElridgeDMello, confirmed from my colleagues. The issue is caused by different conference call solution. The Browser call uses Server-side Conference API, RC Phone Desktop manages conference locally on Client side.
It is recommended to use `telephoneySessionId` when you find session id is '0'.

[2019-12-16 02:05] embbnux commented on #321
Hi @ElridgeDMello Can you send HAR file to rc devsupport(devsupport@ringcentral.com), so we can track the issue. It should be a bug.

[2019-12-16 15:48] ElridgeDMello commented on #321
@embbnux I just emailed file links to devsupport.

[2019-12-17 06:15] embbnux commented on #321
Thanks @ElridgeDMello Got the email

[2019-12-24 07:34] embbnux commented on #321
hi @ElridgeDMello , can you try on 1.1.0. we have some enhancement to fix active call notify issue.

[2019-12-26 18:57] #289 closed

[2019-12-26 18:58] curtishollawayTSI commented on #292
Since the target list on a transfer is very specific to each company, we've decided to take this on ourselves.  Closing the issue.

[2019-12-26 18:58] #292 closed

[2019-12-26 19:00] curtishollawayTSI commented on #303
We have implemented our own solution based on Embbnux feedback.  Closing issue.

[2019-12-26 19:00] #303 closed

[2019-12-26 19:02] curtishollawayTSI opened #327 "Unable to delete SMS messages"
We are able to delete voicemail and fax now, but SMS cannot be pruned from the messages list.

[2019-12-27 01:50] embbnux commented on #327
Thanks @curtishollawayTSI . We don't have plan about this now. But I will talk with PM about this.

[2019-12-27 19:28] curtishollawayTSI opened #330 "Voice Message: ability to seek"
Feature request.  Can we get the ability to seek to a different point in a voice message while we are listening to it?

[2020-01-02 07:21] embbnux commented on #330
Hi @curtishollawayTSI, we can do this. Will discuss with PM team to add it into backlog.

[2020-01-03 16:31] ElridgeDMello commented on #321
@embbnux thanks for the fix pushed out.  I tried a few calls with this version and didn't experience the issue.  However, for what it's worth, when the issue did occur previously, it occurred only sporadically.  Will report if we notice this issue again.

[2020-01-06 06:55] embbnux commented on #321
thanks @ElridgeDMello

[2020-01-13 15:25] AbdullahYavuzyigitoglu opened #333 "İs there postMessage() for forwarding?"

[2020-01-13 16:02] mzahirr opened #334 "Is there any way forward call from postMessage ?"
Hi I can answer call from postMessage like ;
document.querySelector("#rc-widget-adapter-frame").contentWindow.postMessage({
                    type: 'rc-adapter-control-call',
                    callAction: 'answer',
                }, '*');

But I need to forward call from postMessage . Can you please help ?

[2020-01-14 12:12] mzahirr opened #335 "Could not decode a text frame as UTF-8"
I get this error "WebSocket connection to 'wss://sip111-wss.devtest.ringcentral.com:8083/' failed: Could not decode a text frame as UTF-8."

![Screenshot from 2020-01-14 15-11-39](https://user-images.githubusercontent.com/5872984/72343556-35b74980-36e0-11ea-99e1-1f74bacf9ece.png)

[2020-01-16 02:54] embbnux commented on #334
Hi @mzahirr , we haven't support this. It is good point. We will talk with our PM and add this api soon. Thanks

[2020-01-16 02:58] embbnux commented on #335
Thanks for feedback @mzahirr. It seems a bug in some condition.  Can you reproduce this always, or some time. Can you send your browser information (version, language) here?

[2020-01-16 05:41] embbnux commented on #335
Hi @mzahirr , just want to check if there are some chars that not english in your RingCentral account name. We have a known parse issue when the name is like French or Russian.

[2020-01-17 05:49] embbnux commented on #334
hi @mzahirr @AbdullahYavuzyigitoglu, just release a new version on [master build](https://ringcentral.github.io/ringcentral-embeddable/) which supports to forward call. You can follow the [docs](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/control-widget.md#forward-a-ringing-call) to try it.
**Notice**: It hasn't been in stable CDN release now.

[2020-01-19 02:37] embbnux commented on #321
Will close this issue for inactive. Feel free to reopen it if you get this issue again.

[2020-01-19 02:37] #321 closed

[2020-01-28 00:57] pranavkedia opened #338 "Chrome Browser console logs show 4 warnings on loading RingCentral Widget"
On running the following code on any website
      var rcs = document.createElement('script');
      rcs.src = 'https://ringcentral.github.io/ringcentral-embeddable/adapter.js';
      var rcs0 = document.getElementsByTagName('script')[0];
      rcs0.parentNode.insertBefore(rcs, rcs0);
one sees the following 4 console log warnings. One does not see the 1st warning if one is not signed in. The chang

[2020-01-29 13:10] embbnux opened #339 "API to get current phone number that signed in"
Want to know current phone number signed in.

[2020-01-29 13:14] embbnux opened #340 "Event to listen Auto Log setting enabled"
as title

[2020-01-30 08:21] embbnux opened #341 "Web phone call recording API and status changed event"
Add a event when call is recorded or unrecorded, and api to enable or disable recording

[2020-01-30 10:46] mzahirr opened #342 "How I can use mute and unmute event ?"
Hi , how I can use mute and unmute event ?

[2020-01-30 11:13] mzahirr commented on #334
Hi @embbnux thanks for interest . It is working now.  Can you please add 'mute' and 'unmute' events ?

[2020-01-30 11:15] mzahirr commented on #335
Hi @embbnux yes it is special character issue. Expample 'ö' .

[2020-01-30 11:15] #335 closed

[2020-02-03 03:04] embbnux commented on #342
Hi @mzahirr there are not events about mute and unmute. Will add this.

[2020-02-03 03:07] embbnux commented on #338
As we mentioned in email:

[2020-02-03 03:07] #338 closed

[2020-02-03 03:08] embbnux commented on #334
@mzahirr Sure

[2020-02-03 08:41] embbnux opened #343 "Can't release web phone registration on Firefox 72 Ubuntu."
Reported in here https://github.com/ringcentral/ringcentral-embeddable/pull/271. Will trigger 5 web phone limitation when refreshing page sometimes

[2020-02-04 06:39] embbnux commented on #343
Reproduced in Firefox 72 MacOS

[2020-02-04 09:27] embbnux commented on #343
The root cause is that app can not sent unregister message (by WebSocket) successfully in window unload event in Firefox.

[2020-02-04 11:07] mzahirr opened #347 "How Can I use logged in users phone number and extention number ?"
![image](https://user-images.githubusercontent.com/5872984/73739585-907c1800-4757-11ea-9337-fa631d96f17a.png)

Hi , I'm trying to get phone number and extention number logged in user . But  I can't get phone number and extention number ? How can I get ?

[2020-02-04 14:02] embbnux commented on #347
@mzahirr we just released the [feature](https://github.com/ringcentral/ringcentral-embeddable/pull/346) into master build, not in CDN build.
You can try with https://ringcentral.github.io/ringcentral-embeddable/adapter.js

[2020-02-04 16:02] mzahirr commented on #347
Actually we have pull master branch in my development environment. I'm trying build my master branch . For example 'yarn build' and I have try login with ringcentral but I can't see any log .

[2020-02-05 08:00] embbnux commented on #347
@mzahirr Are you using the latest code? You can try to start the app in local with `yarn start`, and try in `localhost:8080`.

[2020-02-10 12:13] abdullahyyo opened #348 "Presence Change event and post message to change presence"
Hi everyone;
İf any event fired when presence changes in embeddable project?
And is there postMessage to change presence?

[2020-02-10 12:24] embbnux commented on #348
Hi @abdullahyyo You can use following code to change presence:

[code]

For event:
[code]

[2020-02-10 15:48] abdullahyyo commented on #348
Thank you so much @embbnux

[2020-02-11 02:55] embbnux commented on #348
You are welcome

[2020-02-11 02:55] #348 closed

[2020-02-11 02:56] embbnux commented on #334
The `forward` api is released in 1.1.1

[2020-02-11 02:56] #334 closed

[2020-02-11 02:58] embbnux commented on #333
Hi @ghost, The `forward` api is released in 1.1.1

[2020-02-11 02:58] embbnux commented on #342
released with 1.1.1

[2020-02-11 02:58] #342 closed

[2020-02-11 02:58] embbnux commented on #339
released in 1.1.1

[2020-02-11 02:58] #339 closed

[2020-02-11 02:59] embbnux commented on #340
released in 1.1.1

[2020-02-11 02:59] #340 closed

[2020-02-11 02:59] embbnux commented on #341
record feature is released in 1.1.1. Event is pending now

[2020-02-15 09:03] embbnux commented on #343
Link same issue https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/182

[2020-02-17 04:13] embbnux opened #349 "Create a RingCentral proxy server demo for this app"
Embeddable can set RingCentral server by appServer params. We can build a RingCentral proxy server, so the widget can works with RC integration in backend.

[2020-02-20 14:57] abdullahyyo opened #353 "İs Call internal(from extension) or external?"
Hi everyone again;
We need identify call is internal or external call on embeddable project. We recognized callInfo doesn't have any column for this situation. We are using from number with some validations for this case but we think there is a better and exact way.

Is there any call attribute to identify call is internal(from extension) or external?

Thanks

[2020-02-20 15:46] embbnux commented on #353
Hi @abdullahyyo , now we only can check it by phone number length. For length that less or equal 6 is call from internal extension.

[2020-02-25 00:55] grokify opened #354 "Add pop-out and pop-in functionality"
Support ability to do pop-out and pop-in.

Will there be any issues with communicating with the webpage in pop-out mode?

# Pop-out

<img width="275" alt="pop-out" src="https://user-images.githubusercontent.com/209872/75204682-63070680-5726-11ea-8025-6d7637014e43.png">

# Pop-in

<img width="292" alt="pop-in" src="https://user-images.githubusercontent.com/209872/75204694-6ac6ab00-5726-11ea-9bfe-b9

[2020-02-25 02:38] embbnux commented on #354
@grokify The issue of pop-out mode is that only the current tab that open the popup window can communicate with with it. If user close the tab page, the popup window will be out of control.

[2020-02-26 23:56] curtishollawayTSI commented on #291
We have taken over the contact list completely with our own directory.  This is no longer an issue.

[2020-02-26 23:56] #291 closed

[2020-02-26 23:57] curtishollawayTSI commented on #290
We have taken over the dialer functionality.  This is no longer an issue for us.

[2020-02-26 23:57] #290 closed

[2020-02-26 23:58] #288 closed

[2020-02-26 23:59] #287 closed

[2020-02-27 00:00] curtishollawayTSI commented on #327
We have had additional requests from our users to be able to remove their SMS messages from the message list.  Is this something that can be done?  I think of it as more of a bug than a feature since everything else can be removed from the list.

[2020-02-27 06:42] embbnux commented on #327
Hi @curtishollawayTSI We didn't implement the feature to delete SMS because we focused on high priority features when we developed messages features with limited dev resources.  I will push it with PM team to make it high priority.
For now this app only preloads recent messages into local storage, so older messages will not show in this app.

[2020-02-28 07:30] embbnux commented on #327
@curtishollawayTSI Discussed with team. As team are focusing on other high priority features, we don't plan about this recently. Will keep you updated here.

[2020-02-28 07:34] embbnux commented on #330
Hi @curtishollawayTSI  Feedback from team, as team are focusing on other features, we don't plan about this recently. Will keep you updated here.

[2020-03-04 08:41] mzahirr commented on #347
Solved. Thanks

[2020-03-04 08:41] #347 closed

[2020-03-04 08:41] mzahirr commented on #347
Solved. Thanks

[2020-03-04 08:45] mzahirr opened #355 "How can I learn who the person calling me has closed the call and the other side has closed call?"
![image](https://user-images.githubusercontent.com/5872984/75860784-72b0da00-5e0d-11ea-986b-595d6ab90ee9.png)
Hi , How can I learn who the person calling me has closed the call and the other side has closed call?

For example : call_status : 'abandoned'

[2020-03-06 01:32] embbnux commented on #355
Hi @mzahirr In web phone notification, we don't `abandoned` status.
You can check `startTime` if undefined, it should a missed call. Or you need to track the `callStatus`. If there are `connected` status, it should be a `answered` call.

[2020-03-07 00:18] curtishollawayTSI opened #357 "Change InputDevice during call"
We have a need to allow our users to transition a call from their headset to a usb speaker/microphone for speaker calls.  The user can change the output device during the call, but not the input device.  We programmatically change these and it has the same effect (the input device does not change until the call hangs up).

Is there a way to transition the input device on an active call from one to

[2020-03-09 08:46] mstf55 opened #358 "No event fired when outbound call is answered"
rc-call-start-notify' is fired when outbound call is started but i need an event to be fired when outbound call is answered. It is this event already exist? We want to know whether a call is answered from outbound side. How can i do that? Thanks in advance.

[2020-03-10 13:10] embbnux commented on #358
Hi @mstf55 , for calls between RingCentral account, `rc-call-start-notify` is triggered when callee's device connected (ringing).  When you make call to a physical phone, `rc-call-start-notify`  is triggered when call is answered.

[2020-03-10 13:13] embbnux commented on #357
Hi @curtishollawayTSI , It is not supported now. We bind the WebRTC stream to input device when call is created, and can't change during call.

[2020-03-10 15:14] ElridgeDMello opened #359 "Warm transfer feature request"
This is a feature request:

Can you please add warm transfer as a feature on your roadmap, if not already on there?  This is functionality that exists in the Ringcentral Desktop app and apparently supported in the [ringcentral-web-phone](https://github.com/ringcentral/ringcentral-web-phone#warm-transfer).

Ability for the user to perform a warm transfer in the UI, but it would be a bonus to also h

[2020-03-17 15:19] embbnux commented on #359
Thanks @ElridgeDMello added it into our roadmap

[2020-03-17 15:23] embbnux commented on #357
wait for https://github.com/ringcentral/ringcentral-web-phone/issues/275

[2020-03-17 15:25] curtishollawayTSI commented on #357
Thank you

[2020-03-18 17:34] bakhshandeh opened #361 "Support to send SMS without clicking on Send button using clickToSMS"
I want to send SMS using clickToSMS directly without clicking on Send button.
Can you add a new parameter to clickToSMS and let the users submit the SMS form automatically?
Something like RCAdapter.clickToCall(phoneNumber, true)

[2020-03-19 07:37] embbnux commented on #361
Hi @bakhshandeh It is by design now. As SMS can't be canceled as Call. So we don't support to send it directly now.
I will talk with PM about this if we can improve it. Thanks for good point!

[2020-04-01 03:27] embbnux opened #363 "API to get IVR data"
For inbound call to IVR, can we get IVR data, and support to log

[2020-04-01 04:16] tohagan commented on #363
A security thought that you might want to consider (does not affect me).

Some IVR systems may capture private data beyond the Caller ID like a social security number or a credit card number.  In that instance, you may not want to push that data into the client. Rather, providing a key like the caller's Session Id may be sufficient to obtain the related data but not disclose it on the client in ca

[2020-04-03 04:30] tohagan commented on #363
More design thoughts ...

If you get IVR reponse details from a call session (e.g. the menu option numbers a customer select) and then try to decode what it all means, your code is very "coupled" to the structure of the IVR menu. Someone else is very likely to modify the IVR menu at a later date and unknowingly break your code.

What I think you want instead is way to set a call session variable *

[2020-04-15 16:27] stephanatjabra commented on #35
Hi, i wonder if the APIs have been created. i did see a desktop application providing call control and assume that RingCentral released API's an application can call on? I cannot find anything on the RingCentral developer site... thx!

[2020-04-15 21:43] JoshKing87 opened #370 "rcvideo/bridges permissions error awareness"
Recently our App error rates of skyrocketed by almost 600,000 errors, and we are seeing the error connecting to GET: rcvideo/bridges.  We have noticed that this is due to our app not having pre-existing permissions set to read 'Meetings.'

Here is one days worth of errrors:
![image](https://user-images.githubusercontent.com/26283574/79392004-6e590000-7f27-11ea-8c5a-aac59e115fa9.png)

Switching to

[2020-04-16 01:56] embbnux commented on #370
Thanks so much @JoshKing87 , will fix it soon to check permission before request.

[2020-04-16 09:20] #370 closed

[2020-04-20 02:35] embbnux commented on #35
Hi @stephanatjabra Do you mean https://github.com/ringcentral/ringcentral-embeddable-electron-app, it is a Embeddable app with electron

[2020-04-21 07:08] imshreya opened #373 "Company associated with RC account is not found"
Hi I am getting 400 status code on createcalenderevent apis. with following error message "Company associated with RC account is not found" and I am also unable to login to https://glip-app.devtest.ringcentral.com/.

[2020-04-21 07:32] embbnux commented on #373
hi @imshreya Can you send email to devsupport@ringcentral.com with detail sandbox account info. It seems there are issues in new sandbox account with glip, and not related to this project.

[2020-04-22 03:43] #373 closed

[2020-04-22 03:44] #193 closed

[2020-04-22 03:45] embbnux commented on #353
closed by inactive. Feel free to reopen

[2020-04-22 03:45] #353 closed

[2020-04-23 15:09] embbnux commented on #363
Useful link for IVR: https://medium.com/ringcentral-developers/create-a-telephony-survey-using-the-ringcentral-ivr-scripting-api-525f4ef3c616

Now the IVR api (play, collect) is still in internal beta.  Still need to wait it.

[2020-04-24 01:34] embbnux opened #374 "Show call queue name as RingCentral Phone Desktop app"
![image](https://user-images.githubusercontent.com/7036536/80165746-b73b4380-860e-11ea-8154-705e07757c42.png)

[2020-04-28 11:12] grokify opened #375 "List "RingCentral Video" in README and docs."
Highlight RingCentral Video functionality in the documentation,

[2020-04-30 09:43] embbnux commented on #375
added

[2020-04-30 09:43] #375 closed

[2020-05-06 14:33] zxdong262 opened #379 "Support Input SMS content for third party"

[2020-05-15 10:35] embbnux commented on #50
supported

[2020-05-15 10:35] #50 closed

[2020-05-18 03:19] embbnux commented on #374
Supported in latest master build

[2020-05-18 03:19] #374 closed

[2020-05-20 13:01] zxdong262 opened #384 "Support logout throught post message"

[2020-05-20 13:11] embbnux commented on #384
Hi @zxdong262 You can follow [here](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/control-widget.md#log-out-user ) to make logout request.

[2020-05-20 13:11] #384 closed

[2020-05-20 13:29] embbnux commented on #358
closed by inactive.

[2020-05-20 13:29] #358 closed

[2020-05-20 13:33] embbnux commented on #120
Supported https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/widget-event.md#web-phone-call-event

[2020-05-20 13:33] #120 closed

[2020-05-20 13:36] embbnux commented on #28
Supported. Now we support to swap call from active call in other device into current web phone call.

[2020-05-20 13:36] #28 closed

[2020-05-28 06:43] embbnux opened #386 "Support to disable Meeting feature"
As other [features](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/disable-features.md), we can disable them by API. We also need to support to disable Meeting.

Now Meeting feature will be disabled automatically when app don't have Meeting permission or user don't have meeting permission.

[2020-06-02 02:03] embbnux commented on #386
supported  in master build

[2020-06-02 02:03] #386 closed

[2020-06-10 12:10] mzahirr opened #389 "1 Second live talk log appears on analytics.ringcentral.com when I used to callAction: 'forward'"
Hi , I tried to 1 example call scenario. I called one number and I didn't answer. If the call is not answered within 10 seconds, I will forward it to the next number. But when I examine the life cycle of the call at https://analytics.ringcentral.com/, a 1 second live talk appears. What is the reason of this ?
Please check attachment.
![Screenshot from 2020-06-10 13-46-32](https://user-images.githu

[2020-06-11 09:42] embbnux commented on #389
Hi @mzahirr , for `Forward` feature in web phone (Browser mode), it works as following steps:
* Accept incoming call with muted mode
* Transfer call

So you can get a 1 second call when forward call.

You can get full code of `Forward call` here https://github.com/ringcentral/ringcentral-web-phone/blob/master/src/session.ts#L689

[2020-06-12 13:32] KailashvasanVK opened #390 "How to stop/pause and release the recording in embedded app, once the automatic call recording is enabled in the ring central admin portal"
How to stop/pause and release the recording in embedded app, once the automatic call recording is enabled in the ring central admin portal. Please help.

[2020-06-15 02:31] embbnux commented on #390
Hi @KailashvasanVK We don't support it in web phone mode now. Will check with team to confirm if we can support it.

[2020-06-15 02:34] embbnux commented on #389
Close by inactive. Feel free to reopen

[2020-06-15 02:34] #389 closed

[2020-06-15 17:06] KailashvasanVK opened #392 "How to do customization on the Embedded app."
How to do customization on the Embedded app? We want to add some rich textbox to get some inputs from the user and do some api calls on call button events.

We got to make some these changes in the Libraries as well (Under node_modules) and using it in production. Will it get affected from any future version changes of the Ring central embedded updates.

[2020-06-16 08:19] embbnux commented on #392
Hi @KailashvasanVK It is not recommended to update code under `node_modules `. It will be removed if dependencies updated.
For now, you can listen `rc-call-init-notify` event when user start a call, https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/widget-event.md#web-phone-call-event
And make your UI hover on Embeddable's UI?

[2020-06-16 11:44] KailashvasanVK commented on #392
Hi. We have made the code to point to our reporsitory (For Node_Modules changes) instead of embedded github repository. Could you please help on understanding the UI customization changes on the screen, like adding HTML controls to the existing screen render.

[2020-06-17 01:27] embbnux commented on #392
Hi @KailashvasanVK Can you share details what you want to add in Embeddable. So We can find good solution for it. If you are not good to share public, feel free to send email to `devsupport@ringcentral.com`.

This project is based on React and Redux, and [RingCentral Widgets](https://github.com/ringcentral/ringcentral-js-widgets). For customizing logics and UI, we can create modules (state manager

[2020-06-17 12:49] zxdong262 opened #393 "Support accessToken from customize redirect url"
When user set customize redirectUrl, user may use the code to fetch access token from server side, in this case, may only give accesstoken to embeddable.

[2020-06-19 08:13] embbnux opened #396 "Conference Invite feature will be disabled by default"
The conference invite feature will be deprecated in `end of 2020`. Now in this app, we will make it disabled by default after this [PR](https://github.com/ringcentral/ringcentral-embeddable/pull/395) merged. And in end of Q3, we will try to remove it from this feature.

For who want to enabled it, please follow [here](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/disable-f

[2020-06-23 11:13] KailashvasanVK opened #397 "Getting the error as "web phone unavailable" from the embedded widget application integrated into our app"
Getting the error as "web phone unavailable" from the embedded widget application integrated into our app from a pop up page.

"web phone unavailable"
"Sorry, making calls using this browser is not supported"
"Please grant RingCentral Embeddable to access your audio."

But this is working when we access it seperated from a html page. only from our app pop up page hosted in a server throwing this e

[2020-06-23 13:06] embbnux commented on #397
Hi @KailashvasanVK Want to check which protocol your website uses. This widget will require microphone permission from Browser for web phone. And Browser only allow https page for microphone.

[2020-06-23 17:02] KailashvasanVK opened #398 "Embedded widget app - window.phone.callHistory.calls - recordingID not getting updated intermittently for the records"
Embedded widget app- window.phone.callHistory.calls - recordingID not getting updated intermittently for the records inside it.
we are retrieving the recordingID from this object and storing in the DB against the callID.
Please help.

[2020-06-23 17:29] KailashvasanVK commented on #392
**Hi we are displaying CallID in the UI. We have a textarea in UI where we put the ClaimID's in it and saved to DB when we disconnect the call. For this we have changed the node_modules files to accomodate the UI changes and made the app to point to our node_modules folder instead of github. Can you please share your contact number to discuss on this on a short call? Request you help on this custo

[2020-06-23 19:03] KailashvasanVK opened #399 "Lines are getting disconnected intermediately with errors"
Embedded widget app - Lines are getting disconnected intermediately stating session expired with the errors attached screenshot.
The call is getting disconnected while the users are on call for more than 30 minutes and then the below attached [errors](url) pop
Dialer state is changing to offline intermediately.
[Uploading RC App-Errors.docx…]()

Error:
Session expired. Please sign in
Cannot connec

[2020-06-24 06:33] KailashvasanVK opened #400 "Which auth flow is used in the Embedded widget app."
Which auth flow is used in the Embedded widget app? How to find that
From the Ring central developers site, could see both flows enabled for the app. But wanted to find out which one used in the code.

[2020-06-24 06:51] embbnux commented on #400
Hi @KailashvasanVK If you didn't set app key and secret with this docs https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/config-client-id-and-secret.md , it will use authorization code by default.

[2020-06-24 06:53] embbnux commented on #399
Link original post with screenshot https://forums.developers.ringcentral.com/questions/10824/embedded-widget-app-lines-are-getting-disconnected.html

[2020-06-24 06:59] embbnux commented on #399
@KailashvasanVK and which environment are you using, Sandbox or Production. If you set `appServer=https://platform.devtest.ringcentral.com`, it is sandbox environment?

[2020-06-24 07:52] KailashvasanVK commented on #400
Thanks for the reply. But the above link say, If we provide appsecret then it will use auth code flow by default. correct?
But wanted to know where we would give the appsecret in the code? is it the .env.default file is where we control this with appsecret entry. Please help

[2020-06-24 07:59] embbnux commented on #400
yes, if you develop based on source code, app credentials are set in `.env` file. If you add appSecret in `.env` file, it will use authorization code flow.

[2020-06-24 08:07] KailashvasanVK commented on #400
Thanks. So it does not use the below iframr script config for deciding the authorization mode? if used the code, then would use the env.default file only? Also could you please advice on which authorization mode do we select of those 2 (auth code or implicit). We are getting issues saying the session gets expired in the middle or call get cut disconnected in the middle.

<iframe width="300" height

[2020-06-24 08:17] embbnux commented on #400
Yes, if use the code, it will use `.env` file (not env.default).

For the expired issue, I think it is better to discuss in https://github.com/ringcentral/ringcentral-embeddable/issues/399 I add some questions in that.

[2020-06-24 08:17] #400 closed

[2020-06-24 08:18] embbnux commented on #399
For tracking the issue, can you send HAR file (when the issue happened) to `devsupport@ringcentral.com`. So we can have deep investigation of it. There are some reasons that can trigger session expired.

[2020-06-24 08:20] KailashvasanVK commented on #399
We are using production only. (platform.ringcentral.com). We are getting various type errors given below. Could you please help on the cause for it
Errors:
1) Session expired. Please sign in
2) Cannot connect to the server. Please retry later
3) Ring Central dialer state changed to “Offline” intermediately
4) If the login is Idle for 10-15 mins after call, the session is expired and it is logged o

[2020-06-24 08:25] embbnux commented on #399
It is weird, can you open chrome developer tool, reproduce this issue. Then in network panel save all log as HAR file. And send HAR file to `devsupport@ringcentral.com` with app information.

[2020-06-24 08:29] KailashvasanVK commented on #399
Thanks. Yes sure will get and share the HAR file to that DL. But at high level these errors seems due to network connectivity related issues? In Implicit mode, if the browser is idle for 30 mins only, it will expire the session right?
Also could you please advice on the which auth mode to select (auth code or Implicit) using the embedded widget app in our browser application

[2020-06-24 09:34] embbnux commented on #399
Yes, it think the issue is most caused by poor network. But need to check with HAR file.

And for implicit grant flow, refresh token expires in 30 mins. So if user is not active in 30mins, it will fail to refresh token and logout.
For authorization code flow, refresh token expires in 7 days.  So user is not active in 7 days, it will fail to refresh token and logout.

It is recommended to use autho

[2020-06-24 10:07] KailashvasanVK commented on #399
Will it be possible to increase the token refresh timeout period? It is configured at the Ring central login API right

[2020-06-24 14:44] KailashvasanVK opened #401 "Embedded widget app - Will it be possible to increase the token refresh timeout period for Implicit authorization type?"
Embedded widget app - Will it be possible to increase the token refresh timeout period for Implicit authorization type? It is configured at the Ring central login API?

[2020-06-26 14:25] KailashvasanVK opened #402 "Auth code type authorization in embedded widget app, whether the token refreshes for every API calls?"
Auth code type authorization in embedded widget app, whether the token refreshes for every Ring central API calls?

I understand from the below link, that the session/token will be there for a period of 7 days. But wanted to clarify for RC API calls whether it refreshes token for every call. Please help clarify!

https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/config-client-

[2020-06-29 07:05] embbnux commented on #399
Do you mean access token expired time?

In implicit flow, it is limited to 1 hour, but refresh session will be expired in 30 hour. So refresh timeout period is less 30 mins.

For authorization code flow, it is configurable. In our code, we use default 600s for access token. I think it is ok to use it, as app will auto refresh if access token expired.

[2020-06-29 07:08] embbnux commented on #401
A quote in https://github.com/ringcentral/ringcentral-embeddable/issues/399#issuecomment-650973706:

Do you mean access token expired time?

In implicit flow, it is limited to 1 hour, but refresh session will be expired in 30 hour. So refresh timeout period is less 30 mins.

For authorization code flow, it is configurable. In our code, we use default 600s for access token. I think it is ok to use

[2020-06-29 07:13] embbnux commented on #402
Hi @KailashvasanVK , app does't refresh for every API calls. App save access token expired time in local. So before requesting API, it will check access token expired time. If token will be expired or has been expired, it will refresh token firstly, then request API.
You can find full logics in here https://github.com/ringcentral/ringcentral-js/blob/v3/src/platform/Platform.js

[2020-06-29 07:25] embbnux commented on #392
Sorry for miss this message.

Hi @KailashvasanVK I still recommend that you to build app based prebuilt files, not from source code. You can make your UI hover on this app, so keep your app standalone. And you can just focus on your business logics. For contact, can you send email to `devsupport@ringcentral.com`. It will create ticket automatically, and our developers can have a quick response.

[2020-06-29 07:29] embbnux commented on #398
Hi @KailashvasanVK It is by design. As server need time to generate recording file after call ended. Client side will get notification to refresh recording id and URI after recording generated

[2020-06-29 07:33] embbnux commented on #392
You can also create new `app.html` file as https://github.com/ringcentral/ringcentral-embeddable/blob/master/src/app.html and add your JS file to work with `https://ringcentral.github.io/ringcentral-embeddable/app.js` to get full scope.

[2020-06-29 18:49] KailashvasanVK opened #403 "Embedded widget app - User getting "session expired" error when in middle of the call."
Embedded widget app - User getting "session expired" error when middle of the call. Intermittently happening for some users. Please help

![image](https://user-images.githubusercontent.com/40710114/86044054-2d24b680-ba67-11ea-9fdb-3041dcc0c136.png)

Error:
Session Expired. Please sign in again

[2020-06-29 19:11] KailashvasanVK commented on #399
Hi, Please find the HAR files Sent to the DL  `devsupport@ringcentral.com` with app information. Please help.
Please not that after refreshed the browser only we are able to get the attached HAR log.

[2020-06-30 07:20] embbnux commented on #403
Close by same as https://github.com/ringcentral/ringcentral-embeddable/issues/399 , feel free to reopen it is new issue

[2020-06-30 07:20] #403 closed

[2020-06-30 07:24] embbnux commented on #399
Thanks so much @KailashvasanVK

Do you mean you can't get full log after refreshed? You can enable `preserve log` to avoid clear log after refreshed

[2020-06-30 09:53] KailashvasanVK opened #404 "Close by same as https://github.com/ringcentral/ringcentral-embeddable/issues/399 , feel free to reopen it is new issue"
Close by same as https://github.com/ringcentral/ringcentral-embeddable/issues/399 , feel free to reopen it is new issue

_Originally posted by @embbnux in https://github.com/ringcentral/ringcentral-embeddable/issues/403#issuecomment-651599116_

When i disconnected the internet and checked the ring central app, this session expired error not coming. So need to investigate more whether its related t

[2020-06-30 10:10] KailashvasanVK commented on #399
Thank you. Its intermittent, so we dont know which user would report this issue. We would enable this preserve log option for the users before they start working. So when they report the issue, we would open the developers tools from the browser and take our the HAR log. User need not keep the developer tools window open right when working, please confirm? only when they encounter the issue, we wo

[2020-07-01 06:01] embbnux commented on #399
Yes, user need not keep the developer tools window open right when they reproduce this issue.

[2020-07-01 07:25] embbnux opened #406 "Support authorization code with PKCE flow"
With authorization code with PKCE, app client secret is not required in client side.

[2020-07-02 03:09] embbnux commented on #404
As we talked in email, it is recommended to use authorization code flow. Authorization code flow is more stable than implicit grant flow in poor network.

[2020-07-02 03:09] #404 closed

[2020-07-02 03:12] embbnux commented on #392
Resolved in email. A demo code to customize UI component from widgets lib: https://github.com/ringcentral/ringcentral-embeddable/commit/c07163d2df8ea374aefd559a9bf84edac281750e

[2020-07-02 03:12] #392 closed

[2020-07-02 03:13] embbnux commented on #399
Closed, as mentioned in #404

[2020-07-02 03:13] #399 closed

[2020-07-02 03:14] embbnux commented on #401
Closed, as @KailashvasanVK has changed to use auth code flow.

[2020-07-02 03:14] #401 closed

[2020-07-02 03:15] #402 closed

[2020-07-02 03:16] embbnux commented on #397
closed by inactive

[2020-07-02 03:16] #397 closed

[2020-07-02 03:16] #398 closed

[2020-07-02 04:33] embbnux commented on #406
supported in RingCentral JS SDK after https://github.com/ringcentral/ringcentral-js/pull/140

[2020-07-02 04:37] embbnux commented on #355
closed by inactive

[2020-07-10 09:23] embbnux commented on #379
Hi @zxdong262 You can use following to prefill SMS content in ComposeText. page:

[code]

and use following to prefix text in conversation page:

[code]

[2020-07-11 02:56] awood0540 opened #407 "Can I disable SMS/Text but Keep Voicemail and Fax?"
Can I disable SMS/Text but Keep Voicemail and Fax? If so, how? If not, can we add the functionality please?

[2020-07-13 01:17] zxdong262 commented on #379
@embbnux Phone number will be cleared when use
[code]

[2020-07-13 06:09] embbnux commented on #407
Hi @awood0540 It isn't supported now. Now it will only disable items when user don't have required permissions.
It is a good point to allow developers to disable it.

[2020-07-13 08:34] embbnux opened #409 "Support to make call with new RingCentral app"
Now in this app, it only supports to make with RingCentral Phone desktop app.

[2020-07-15 11:35] embbnux commented on #379
fixed now @zxdong262

[2020-07-15 11:35] #379 closed

[2020-07-16 08:17] embbnux commented on #390
Create a issue in web phone sdk https://github.com/ringcentral/ringcentral-web-phone/issues/292

[2020-07-17 05:13] JSGund commented on #357
@curtishollawayTSI Can you please help me out to get the list of media devices(input devices like headset or wireless) and set for the voice call?

[2020-07-17 06:01] #409 closed

[2020-07-17 09:44] embbnux commented on #357
@JSGund You can get media devices by calling `navigator.mediaDevices.enumerateDevices()`, or `phone.audioSettings.availableInputDevices` if you can access this app's `window` scope.

For set device, you can call `phone.audioSettings.setData({ inputDeviceId: your_device_id }).`

[2020-07-17 09:55] JSGund commented on #357
@embbnux here 'phone.audioSettings.availableInputDevices' - **phone** means **WebPhone** instance right?

[2020-07-17 10:00] embbnux commented on #357
Not, `phone` is global variable in `app.html`. It is used for state management and business logics.
For web phone instance, you can get it  by `phone.webphone._webphone`

[2020-07-17 10:10] JSGund commented on #357
In _webphone instance there are not any **audioSettings** method available to set this **setData({ inputDeviceId: your_device_id })**. Is it possible set the **setData({ inputDeviceId: your_device_id })** using *_webPhone* instance? Let me know how to resolve this?
Thanks

[2020-07-19 06:14] embbnux commented on #357
**audioSettings** isn't in _webphone instance, it is in `phone` global variable

[2020-07-21 16:31] zxdong262 opened #412 "Support enable call/msg log but without the switch"
In some case, user do not want the switch, want enabled and can not be diabled.

[2020-07-22 05:42] embbnux commented on #412
It is by design. We need user to enable auto log

[2020-07-27 06:26] zxdong262 commented on #412
#414 Resolved the init status issue, but the switch still exist, still need a way to not show the switch at all, because if it exists, user may make mistake to disable it.

[2020-08-03 02:55] zxdong262 opened #416 "Support extension match for call history"

[2020-08-03 15:14] mzahirr commented on #355
Hi @embbnux , this is important for me . The main problem here is that the call was interrupted during the call. We cannot find out what this is caused by. for example, the call ends at the 20th second of the call. We want to know if the other party has closed it. So we can detect the problem. Can you help us with this?

[2020-08-04 08:55] embbnux commented on #407
Hi @awood0540 It is supported in master build. Can you help to try it?

[2020-08-04 09:06] embbnux commented on #355
Hi @mzahirr For detail call information, now you can use TelephonySession API to query it. https://developers.ringcentral.com/api-reference/Call-Control/readCallSessionStatus It will show detail parties data

[2020-08-04 09:53] mzahirr commented on #355
Hi @embbnux , thank for advice. I'm trying to get call logs for session id .
Is sessionId telephonySessionId? i'm querying this id but i get 404 error.

![image](https://user-images.githubusercontent.com/5872984/89280416-45cd5100-d651-11ea-807d-149f5b2b7dfa.png)

[2020-08-04 09:59] embbnux commented on #355
It is telephonySessionId. For call ended very long or dropped, telephonySession will be deleted https://developers.ringcentral.com/api-reference/Call-Control/deleteCallSession

[2020-08-04 10:02] mzahirr commented on #355
@embbnux My purpose is not to learn the status of the call currently. I want to know who closed the call in the past calls.

[2020-08-04 10:16] embbnux commented on #355
Got it. I think we can use call log data https://developers.ringcentral.com/api-reference/Call-Log/readUserCallRecord
![image](https://user-images.githubusercontent.com/7036536/89282689-7a0b3680-d67e-11ea-9d0a-9db616e995b8.png)

You can request by yourself.  Or in widget app, when user log call, it will send detail call log to third party  https://github.com/ringcentral/ringcentral-embeddable/blob

[2020-08-04 10:23] mzahirr commented on #355
@embbnux  How can we find callRecordId ?
![image](https://user-images.githubusercontent.com/5872984/89283300-98107100-d655-11ea-98a5-30c274d8b778.png)

[2020-08-04 10:33] embbnux commented on #355
It is call log id. You can use call log list api and query with sessionId if you don't get call log id  https://developers.ringcentral.com/api-reference/Call-Log/readUserCallLog

[2020-08-04 10:36] mzahirr commented on #355
@embbnux yes i use exactly that.
 I have tried this recordId but getting error -> "Resource for parameter [callRecordId] is not found"

![Screenshot from 2020-08-04 13-34-58](https://user-images.githubusercontent.com/5872984/89284452-7b753880-d657-11ea-90f1-5f165ead6970.png)

[2020-08-04 10:39] mzahirr commented on #355
Yes, I have now fulfilled this request. However, there is still no information about who ended the call.

`{
  "uri": "https://platform.ringcentral.com/restapi/v1.0/account/3241273008/extension/62497647008/call-log/IhwJ2_ySaFlBzUA?view=Detailed",
  "id": "IhwJ2_ySaFlBzUA",
  "sessionId": "412358860008",
  "startTime": "2020-08-03T13:45:21.025Z",
  "duration": 12,
  "type": "Voice",
  "direction":

[2020-08-04 10:46] embbnux commented on #355
You can get reason field in call log.  You can find detail description here https://developers.ringcentral.com/api-reference/Call-Log/readUserCallLog
![image](https://user-images.githubusercontent.com/7036536/89285275-a4f78980-d682-11ea-8f99-26c26c6125eb.png)

[2020-08-04 10:48] mzahirr commented on #355
@embbnux yes  i know this area but only "reason": "Accepted"
 I see it as.

[2020-08-04 11:48] mzahirr commented on #355
isn't the log added here when the call ends like in this picture?

![Screenshot from 2020-08-04 13-42-40](https://user-images.githubusercontent.com/5872984/89290396-7a490900-d661-11ea-899a-50521b964aee.png)

[2020-08-05 00:26] embbnux commented on #355
Hi @mzahirr , can you help to send email to `devsupport@ringcentral.com` to show your requirements in cal log API about this.

[2020-08-05 00:59] embbnux commented on #355
Not sure about this. I think the picture just shows call log data. Can you help to send email to support email, so our engineers can find if Service Web can show the detail call result.

[2020-08-06 09:37] embbnux commented on #390
As we talked in email, user can't handle recording in Embeddable widget when auto recording is enabled in `service.ringcentral.com`.
So we need to disable auto recording setting. And can implement auto recording in Embeddable by following code:

[code]
And docs:
https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/widget-event.md#web-phone-call-event
https://github.com/ringcentra

[2020-08-07 07:28] #390 closed

[2020-08-07 07:31] embbnux commented on #285
Will update the app to use authorization code with PKCE flow. So client secret is not needed in client side.  Need to wait https://github.com/ringcentral/ringcentral-js-widgets support PKCE.

PKCE introduction article:
https://medium.com/ringcentral-developers/use-authorization-code-pkce-for-ringcentral-api-in-client-app-e9108f04b5f0

[2020-08-10 06:06] embbnux commented on #407
close by inactive. Feel free to reopen.

[2020-08-10 06:06] #407 closed

[2020-08-19 23:11] zxdong262 opened #420 "Show SMS history in compose text page"
It is requested by our customer.

[2020-08-20 07:14] embbnux commented on #130
supported

[2020-08-20 07:14] #130 closed

[2020-08-20 07:15] embbnux commented on #420
@zxdong262 Is this same as #254

[2020-08-20 07:18] #420 closed

[2020-08-20 11:36] embbnux commented on #406
supported #422

[2020-08-20 11:36] #406 closed

[2020-08-20 11:38] embbnux commented on #285
The widget has supported authorization code with PKCE. So client secret is not required now.

[2020-08-20 11:38] #285 closed

[2020-08-20 11:39] #341 closed

[2020-08-20 11:47] embbnux commented on #93
renamed in v1.4.0

[2020-08-20 11:47] #93 closed

[2020-08-21 06:14] embbnux commented on #254
I am thinking to add a param in SMS API:
[code]
When conversation is true, it will go to conversation page directly when there is conversation with this phone number.

[2020-08-24 17:25] ElridgeDMello commented on #319
@embbnux what API should be called with `telephonySessionId` to get the `sessionId` for a call?

[2020-08-25 03:00] embbnux commented on #319
For call log, you can use https://developers.ringcentral.com/api-reference/Call-Log/readUserCallLog
For active calls, https://developers.ringcentral.com/api-reference/Call-Log/listExtensionActiveCalls

Now, API don't support to query using telephonySessionId directly. So may need to load list and match in local.

[2020-08-25 04:02] embbnux opened #424 "New call notification based on telephone session event."
Now we have active call event based on presence active calls, and web phone event based on web phone.

With new [Telephony Session Event](https://developers.ringcentral.com/api-reference/Extension-Telephony-Sessions-Event), we can get more details on call parties.

[2020-08-25 21:52] ElridgeDMello commented on #319
Ok, thanks for that.

Any plans to resolve the differences between Desktop App and Browser conference call events?  It makes the integration complex to be able to support the two calling modes (Browser vs Desktop).

[2020-08-26 08:25] embbnux commented on #319
There are no plan to resolve the differences now, since native app and Web Based app are total different solution. I will discuss more with our PM, and update here.

And now we are recommending user to use RingCentral App desktop instead of RingCentral Phone desktop. The RingCentral App desktop is web based.

[2020-08-26 18:10] SampsonCrowley commented on #338
@embbnux

Why would you remove the sourcemap in production... the only time when the code is unreadable on it's own? that's the whole point of the sourcemap... so you can compile to a smaller size, but still debug where needed

This is still happening in the current version, along with 2 new errors:

`AccountInfo is deprecated, please evaluate and transition to use AccountInfoV2`
and
`ActiveCalls

[2020-08-27 03:03] embbnux commented on #338
@SampsonCrowley For source map, we remove it for reducing network request in production. will think about this to provide source map files independently.

For deprecated warning, it is warning not error from our [widgets](https://github.com/ringcentral/ringcentral-js-widgets) lib.  We are still thinking if we need to use new module(need full tests) to resolve warning.

For cookie warning, as we ar

[2020-08-27 03:31] zxdong262 opened #428 "Extral dash in auto log title"
<img width="305" alt="Screen Shot 2020-08-27 at 11 30 08 AM" src="https://user-images.githubusercontent.com/1641949/91380987-dd8d1c00-e858-11ea-9737-1aed845e3f46.png">

[2020-08-28 08:27] #424 closed

[2020-09-01 02:42] #254 closed

[2020-09-02 08:20] vini-brito opened #430 "Enable SSO?"
How to enable SSO?
Or is it mandatory that user goes manually through the login flow?

[2020-09-02 08:53] embbnux commented on #349
Steps of Idea:
  1. "https://thirdparty.com/rcproxy" is hosted by third party which handle RingCentral authorization and token in server side. "https://thirdparty.com/rcproxy" uses cookie to validate with client side, and support CORS to allow "https://ringcentral.github.io" domain.
  2. set Embeddable appServer to "https://thirdparty.com/rcproxy"
  3. "https://thirdparty.com/rcproxy" proxy all re

[2020-09-02 08:55] embbnux commented on #430
Hi @vini-brito The app doesn't support SSO now. I am thinking to provide proxy server to do this https://github.com/ringcentral/ringcentral-embeddable/issues/349 It is still on POC stage.

[2020-09-02 09:03] vini-brito opened #431 "Post message to login user, since we can log them out"
Hello, since we can use:
[code]
To log the user out, I've been looking for a way to send a message to log the user in, is there anything related to programmatically perform a login? I'm accepting both with and without user intervention.

[2020-09-03 06:48] embbnux commented on #431
Hi @vini-brito The app is using authorization code flow for login.  And currently we don't have API to make user login without authorization code flow.
We can pass authorization code to this app directly to make it login https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/customize-authorization.md So your app need to implement authorization code flow to generate RingCentral aut

[2020-09-03 07:21] vini-brito commented on #431
Is it safe to pass the App Secret to the browser?
Would just the App Id be enough?

[2020-09-03 07:30] embbnux commented on #431
It is not recommended to pass app secret. But it is required if your app pass authorization code to it.
You are welcome.

For SSO, you can have a look at this https://github.com/ringcentral/ringcentral-embeddable/issues/349#issuecomment-685456064. It is still in POC. I will post a demo in this week, so you can try this way.

[2020-09-03 12:03] embbnux commented on #431
We don't have that  API now. But we can add it.
Can you share details that you want to do? I am not sure that I get your idea. I think you are meaning to provide postMessage API, when you send message, app open login window (trigger login button by code)?

[2020-09-03 22:29] vini-brito commented on #431
Yeah, I'd like to use code to trigger the login button, so the user doesn't has to click it to start the login process.

[2020-09-04 10:04] embbnux commented on #431
Hi @vini-brito We release a new version in master build for this feature. You can try it by following [here](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/control-widget.md#trigger-login-button-click)

[2020-09-10 02:58] embbnux commented on #349
A lite node.js app to authorize RingCentral in server side and proxy Embeddable API request to RingCentral server https://github.com/embbnux/ringcentral-proxy
A demo to show how to use the proxy server app in Embeddable  https://github.com/embbnux/ringcentral-proxy-demo
Online demo https://embbnux.github.io/ringcentral-proxy-demo/

[2020-09-11 09:09] vini-brito commented on #343
Just to add that in Ubuntu, Firefox 80.0.1 (64-bits) I get the same issue.

[2020-09-11 09:13] vini-brito commented on #431
Works like a charm, thanks! Now I can make a fully transparent experience :D

[2020-09-16 09:18] #349 closed

[2020-09-16 09:19] embbnux commented on #431
You are welcome

[2020-09-16 09:19] #431 closed

[2020-09-16 09:22] embbnux commented on #430
I will close this issue since you have another solution in #431. Feel free to reopen.

[2020-09-16 09:22] #430 closed

[2020-09-17 09:30] embbnux commented on #109
The calling setting is updated. `My RingCentral Phone` is renamed into RingOut
![image](https://user-images.githubusercontent.com/7036536/93452780-699bdc00-f90b-11ea-9ac0-35b9a1429260.png)

[2020-09-17 09:30] #109 closed

[2020-10-13 07:13] embbnux opened #441 "support to send MMS attachment with not only image type"
Now the widget only support to send images in MMS.
We need to support following type:

`image/tiff,image/gif,image/jpeg,image/bmp,image/png,image/svg+xml,text/vcard,application/rtf,video/mpeg,audio/mpeg,video/mp4,application/zip`

[2020-10-16 08:21] embbnux opened #442 "Conference Call call history issue"
After creating a conference call (3-way-calling) in this widget and the call end,  we will get two calls in call history.
![image](https://user-images.githubusercontent.com/7036536/96233971-614ac580-0fcb-11eb-83a5-edaa8b0707fe.png)
They should be merged into a call with name Conference Call. The call recording is attached to first call now.

[2020-10-22 03:08] embbnux opened #443 "RingCentral Video personal meeting id is not updated"
When user edit personal meeting id in other clients, RingCentral Video personal meeting id is not updated in this widget.

[2020-10-26 08:57] embbnux commented on #443
Fixed in latest master version.  It will update personal meeting setting when user open a new tab or refresh page

[2020-10-26 08:57] #443 closed

[2020-10-27 17:33] calebbergman opened #445 "feat: Glip direct messages"
It appears that currently you're able to send/receive direct messages pertaining to an existing conversation, but you're unable to create a new direct message session with someone; you're only able to create a Team. So if you want to send a message to a single person, you're forced to create a Team, adding them as the only other party to the conversation.

[2020-10-28 20:46] vini-brito opened #446 "maximum of 5 soft phones could be registered - user can't login"
I often receive this error and can't properly login trough the widget.
Is there a workaround on this? A way to "unregister" a soft phone. Or possibly a fix.

[2020-10-29 02:21] embbnux commented on #445
Thanks @calebbergman It is a good point. Added this feat into backlog.
For now, you can have a direct message when you click user name or avatar in a Glip conversation.

[2020-10-29 02:30] embbnux commented on #446
Hi @vini-brito, Do you mean that you can login but web phone connection fail in this widget?

You can logout to unregister web phone connections in current browser.
And can you check if you enable multiple tabs support for this widget https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/multiple-tabs.md If you don't enable multiple tabs support, you can only open max 5 tabs with

[2020-10-29 03:28] vini-brito commented on #446
So the user must always click logout instead of just closing the tab or browser?

[2020-10-29 07:37] embbnux commented on #446
If user got web phone limitation by having more than 5 widget tabs, user can just close tabs to avoid this error.

If when user got 5 web phone limitation error by some errors (such as Firefox issue), user need to logout to unregister web phone connections that losing control.

[2020-10-29 20:21] vini-brito commented on #446
This is the case. So one logout will unregister all soft phones? And it happens on Chrome too, but I haven't pinpointed a way to reproduce it yet. I just reload the page several times, one tab always, and after a couple hours it starts giving this error.
Then I reload the page several times and it starts working again.

[2020-10-30 06:46] embbnux commented on #446
The logout will only clean web phone connection in current app.

The widget sends web phone connection unregister request when it gets page unload event from Browser. But sometimes the unregister request will be not sent successfully, Browser will cancel the request. It happens always in Firefox, and occasionally in Chrome.

And do you enable multiple tabs supports for this widget https://github.c

[2020-11-05 14:44] zxdong262 opened #447 "feat: Support clear history, like a button in history page"

[2020-11-06 00:56] zxdong262 opened #448 "feat: Support link to third party contact"

[2020-11-06 00:57] zxdong262 opened #449 "bug: fax view/download button do not work"

[2020-11-10 17:12] sarora2073 opened #450 "error using github hosted embeddable"
Hi,

Am not sure if this is a critical error or not, as the embeddable appears to load, but I see the following error in the console:

Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://ringcentral.github.io') does not match the recipient window's origin ('https://localhost:3000').

If i inspect the code that triggers this error i see this:

[code]

Context:
I'm u

[2020-11-10 19:27] sarora2073 commented on #450
Update: I've tried changing the redirect to a custom one that I host, and am having that redirect page invoke the code documented here:

https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/customize-redirect-uri.md

I still get that same error however, and am not sure if that's normal. Any help sanity checking the implementation appreciated.

[2020-11-11 06:12] embbnux commented on #450
Hi @sarora2073 Can you provide screenshots that you got errors. Do you have any issues when you are using this widget.

The widget is a iframe hosted in `https://ringcentral.github.io`. So it is required to send  postMessage with:

[code]

If you want to host widget in your local server, you need to [rebuild](https://github.com/ringcentral/ringcentral-embeddable#deploy-on-production) the app to se

[2020-11-11 06:13] embbnux commented on #450
It is recommended that you use our precompiled version in our Github page or CDN page.

[2020-11-11 16:54] sarora2073 commented on #450
Hi @embbnux,

Thanks for the response. Screenshots are attached:

![image](https://user-images.githubusercontent.com/8941430/98839687-dadfa300-2413-11eb-94aa-f37dcbe629f2.png)
![image](https://user-images.githubusercontent.com/8941430/98839779-f64aae00-2413-11eb-9a20-9f2f1e245ea4.png)

I'm don't know if this error is going to cause issues or not. The widget "appears" to work (i.e. i can see it and

[2020-11-11 22:07] sarora2073 commented on #450
update: i figured out the secondary issue for me -- the problem with registering the call logger.. i was trying it to invoke contentWindow.postMessage method to communicate upon script load, but i guess the frame isn't done loading just because the script is, so it was failing.

That said, I don't know of any impact of the error above, or whether its benign. Closing for now.

[2020-11-11 22:07] #450 closed

[2020-11-12 03:00] embbnux opened #451 "add source map file for production build"
Fix chrome warning:
![image](https://user-images.githubusercontent.com/7036536/98890063-1fcc0e00-24d6-11eb-8f81-987ddc52e227.png)

Easier for tracking issue

[2020-11-12 03:17] embbnux commented on #449
A issue caused by chrome. after widget open a download link, user need to refresh the page to trigger download

[2020-11-12 03:24] embbnux commented on #449
Okay, we can fix it by add `contentDisposition=Attachment` in download link

[2020-11-16 03:34] embbnux commented on #441
supported in master build

[2020-11-16 03:34] #441 closed

[2020-11-16 03:34] embbnux commented on #442
fixed in master build

[2020-11-16 03:34] #442 closed

[2020-11-23 05:49] embbnux opened #453 "Support to hide Outbound Call ID selection"
Support to hide Outbound Caller ID selection by user setting in RingCentral service web.
![image](https://user-images.githubusercontent.com/7036536/99932297-94cefb80-2d92-11eb-863b-d55258c7ec84.png)

[2020-11-24 09:51] embbnux commented on #449
voicemail download fixed in master build. Fax will be fixed after fixed in widgets lib

[2020-12-01 06:01] embbnux opened #455 "Support to get selected match contact in call event"
In Call History or other call page, app will show selection of matched contact name if there are multiple contact match results from phone number.
After user select matched contact, we should remember the selected result and add this data in call event

[2020-12-08 07:40] embbnux opened #459 "Disable call record before call is connecting"
We need to disable call record when call is connecting.

[2020-12-09 09:29] embbnux commented on #453
fixed in master build https://ringcentral.github.io/ringcentral-embeddable

[2020-12-09 09:29] #453 closed

[2020-12-14 08:04] #298 closed

[2020-12-14 08:05] embbnux commented on #35
close by inactive. Feel free to reopen it

[2020-12-14 08:05] #35 closed

[2021-01-13 00:26] zxdong262 opened #469 "When calling, reload the page got no warning in third party crm"

[2021-01-13 02:55] #469 closed

[2021-01-19 13:57] Sanj718 opened #472 "Many js files not found and not sign in to the app on sandbox"
For some reason i cannot login to the ringcentral widget. Everything was fine till yesterday.
Sometimes i see that some js/map files not found.
Is there anything changed?

![image](https://user-images.githubusercontent.com/7362855/105044142-5ec99300-5a34-11eb-86f6-1152275f6020.png)

[2021-01-19 14:00] embbnux commented on #472
Hi @Sanj718 The sandbox environment has issue now. Our engineer is working on this.

[2021-01-19 14:04] Sanj718 commented on #472
Thank you, please keep us posted :)

[2021-01-19 14:05] embbnux commented on #472
Sure. Thanks so much for reporting this.

[2021-01-19 23:49] embbnux commented on #472
@Sanj718 I can login with sandbox account now. Can you help to try at your side?

[2021-01-19 23:53] Sanj718 commented on #472
@embbnux Yes, its signing in but after couple seconds on widget it's loggin out and showing "Sign in" button again with "Webphone registerd" popup.

[2021-01-20 00:50] embbnux commented on #472
@Sanj718 Can you help to check if you open multiple tabs with this widgets with different config (client id, server). Other tabs with this widget with different config will logout it.

[2021-01-20 15:40] Sanj718 commented on #472
@embbnux Yes it works on incognito window. :) but do you know is there any way to force to quit from all widget accounts?

[2021-01-20 15:43] Sanj718 commented on #472
I think it works now, just cleaned all cookies and cache. @embbnux thank you.

[2021-01-20 15:43] #472 closed

[2021-01-22 01:58] embbnux commented on #472
Once you logout in a tab, all tabs in same domain will be logout. From different browsers, you can logout at service.devtest.ringcentral.com to revoke access token for this app.

[2021-01-25 09:51] embbnux commented on #111
supported

[2021-01-25 09:51] #111 closed

[2021-02-02 02:57] #459 closed

[2021-02-04 16:57] Brutalbeard commented on #359
@embbnux for this one, any timelines available? I think there was an issue with APIs not existing for it.

[2021-02-05 03:16] embbnux commented on #359
We can do this by web phone SIP API.
I am working on this feature in widgets lib from this week. After release in widgets, we can add it into Embeddable. In should be done at end of Feb or early of Mar.

[2021-02-08 22:51] Brutalbeard commented on #359
Thanks for the heads up!

[2021-02-10 18:18] vyshakhbabji opened #477 "Display the call queue details on the Ringcentral Embeddable"
https://github.com/ringcentral/ringcentral-web-phone/issues/324

[2021-02-11 15:08] mzahirr opened #478 "Call Sound Drop"
1) I received a call with the ringcentral app open and I answered this call.
2) If a direct call (By using the agent's number like +1 740 000 000) came while I'm on call;
3)  We forward the incoming call to another number. Using the method below
     https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/control-widget.md#forward-a-ringing-call
4. Incoming call causes the 1st call'

[2021-02-12 03:52] embbnux commented on #478
@mzahirr  Thanks so much for details steps. The root cause that app accept the call and transfer when app [forward](https://github.com/ringcentral/ringcentral-web-phone/blob/master/src/session.ts#L698).  So the media resource is got when call is accepted.
Let me find how to fix this.

[2021-02-16 20:14] mbrindam opened #480 "Need to support office@hand (ringcentral.biz) via embeddable"
We are currently using the ringcentral embeddable in our application to provide a dialer embedded in our application.  We need to also support, for some customers, the office@hand version of ringcentral through this embeddable.  Please provide a configurable option to switch between o@h or ringcentral proper.

[2021-02-18 03:21] embbnux commented on #480
Hi @mbrindam you can follow here to have a full support for office@hand https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/multiple-brands.md#att-officehand

[2021-02-18 03:23] embbnux commented on #480
We are also working on a solution to provide dynamic switching after user login. But it is still on experiment step:
[code]

[2021-02-18 03:27] embbnux opened #481 "disable Mute button before call connected"
Mute button doesn't work before call connected. So let's disable it before call connected

[2021-02-18 09:47] embbnux commented on #449
fixed

[2021-02-18 09:47] #449 closed

[2021-02-18 09:49] embbnux commented on #343
fixed in https://github.com/ringcentral/ringcentral-embeddable/pull/476 After getting 5 web phone limitation error, app will create a new endpoint id to reconnect.

[2021-02-18 09:49] #343 closed

[2021-02-18 09:51] embbnux commented on #446
fixed in #476 After getting 5 web phone limitation error, app will create a new endpoint id to reconnect.

[2021-02-18 09:51] #446 closed

[2021-03-02 08:58] embbnux commented on #480
close by inactive. Feel free to reopen it.

[2021-03-02 08:58] #480 closed

[2021-03-04 12:59] embbnux commented on #359
Supported in master build now

[2021-03-15 07:40] embbnux commented on #359
supported at 1.6.0

[2021-03-15 07:40] #359 closed

[2021-03-17 08:19] embbnux opened #488 "Missing `rc-active-call-notify` events"
We receive a report that the widget will miss to emit `rc-active-call-notify` occasionally. This case is under tracking.
If anyone has same issue, it is appreciated to add your comment here with Embeddable version, or any details.

[2021-03-18 09:48] embbnux commented on #488
Confirm that this missing is caused by subscription refreshing fail. It may be subscription race issue in multiple tabs.

[2021-03-22 14:39] mzahirr commented on #478
Hi @embbnux , I have re-deploy this version (master branch). And we trying to following steps

1. I received a call with the ringcentral app open and I answered this call.
2. If a direct call (By using the agent's number like +1 740 000 000) came while I'm on call;
3. We forward the incoming call to another number. Using the method below
4. https://github.com/ringcentral/ringcentral-embeddable/blo

[2021-03-23 02:38] embbnux commented on #478
Thanks @mzahirr I reopen this issue. Will investigate more with your scenario.

[2021-03-23 07:41] tmLoyally opened #492 "Refreshing a window with an i-frame holding the embeddable mutes sound."
The RC embedable works fine until someone refreshes their webpage, which mutes the audio, making users unable to hear the ringing for incomming calls. The audio will come back after the user has had some interaction with the embeddable, like clicking on a button or starting a call.

It seems to be related to the audio policies used by Chrome (and other browsers):  https://developers.google.com/web

[2021-03-23 07:54] embbnux commented on #492
@tmLoyally Good point. I will add `allow="autoplay"` into the widget iframe.
And I am not sure that you mention:

Can you give same example?

[2021-03-23 09:56] embbnux commented on #492
@tmLoyally I tested iframe with "allow=autoplay; microphone". It can work well at Chrome. For Firefox, user still need to have interaction at top web page. For Safari, autoplay don't work well.

[2021-03-24 09:00] embbnux opened #494 "Support to listen call recording in the widget"

[2021-03-24 09:31] embbnux commented on #478
hi @mzahirr I tested again, and it works at latest build.
Can you help to collect HAR file and logs and send it to devsupport@ringcentral.com.
To collect HAR:
1. you need to open chrome developer tool firstly
2. then refresh web page
3. then reproduce it
4. save network request as HAR file.

[2021-03-25 09:04] embbnux commented on #488
root cause is from wrong sleep detected after chrome 88 https://developer.chrome.com/blog/timer-throttling-in-chrome-88/

[2021-03-29 14:25] mzahirr commented on #478
I have created ticket about that. thanks.

[2021-03-30 00:45] zxdong262 opened #497 "feat: Support send a2p SMS"
When login with a2p sms account, will not be able send sms, better check if the account can send a2p sms, and auto switch to a2p sms.

[2021-03-30 02:36] embbnux commented on #478
@mzahirr Can you share ticket number here?

[2021-04-01 06:36] embbnux commented on #478
@mzahirr As I mentioned in email, you need to update code to have the fix.
I will close this case. Feel free to reopen it.

[2021-04-01 06:36] #478 closed

[2021-04-07 14:53] harrishosp opened #500 "How to by pass widget login"
Hi,

we are trying to implement call center module using ringcentral widget on our web app , however its asking the end user to enter ringcentral creds manually , is there a way  we can by pass it and or send the creds internally . We don't want our users to know about the ringcentral creds. we are using developer sandbox to test the widget feature of the ringcentral..

[2021-04-08 02:32] embbnux commented on #500
Hi @harrishosp We implement this widget with OAuth 2.0 which requires user to login in a popup window for security.
To hide ringcentral creds, you can try to enable SSO login in RingCentral service. So your user can login with Single Sign-On at login popup window. But I am not sure if you can enable SSO at sandbox environment.
https://support.ringcentral.com/article/6748.html
![image](https://user

[2021-04-08 08:35] harrishosp commented on #500
Thanks @embbnux for the update. we will stick to the existing feature.  Is there any config settings to make this work on the hosted server using sandbox details.because the widget works fine in local env. however fails to work when hosted the application in the server. Any Clue about it ?

[2021-04-08 08:42] embbnux commented on #500
Do you mean that you want to let other people test in sandbox environment?
You can set appServer in query to change default environment for all users https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/config-client-id-and-secret.md#adapter-js-way

[2021-04-09 08:37] embbnux commented on #488
fixed

[2021-04-09 08:37] #488 closed

[2021-04-21 09:30] embbnux commented on #315
Supported when multiple tabs support enabled https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/multiple-tabs.md#option-1-have-only-connection-in-first-opened-tab

[2021-04-21 09:30] #315 closed

[2021-04-22 10:26] embbnux opened #505 "Warn user remember to resume call recording if call recording is stopped long time"
A enhancement for call record feature:

Warn user remember to resume call recording if call recording is stopped long time

[2021-04-22 22:25] ahomewoodrw opened #507 "Ringtone volume options"
Our users would like to have the ability to customize the ringtone on the embeddable app. Currently, there doesn't appear to be any options for changing the ringtone audio or volume. This is resulting in (literal) headaches for users that need the volume up to hear on calls, but then get blasted by the bell ringer all day.

The ability to adjust volume on the ringer is the primary request. Being a

[2021-04-23 06:06] embbnux commented on #507
Thanks @ahomewoodrw This is a good point. Actually we have some similar POC now. I will add it into backlog.

[2021-04-23 16:48] ahomewoodrw commented on #507
Great to hear, thanks for the quick response @embbnux!

[2021-04-30 02:56] embbnux opened #508 "Settings to reject incoming calls when user is on call."
We can change presence status into "Do no disturb" when user start or answer a call.

[2021-05-04 17:56] Krishnajha25 opened #510 "How to get access token and refresh token when user logins using the widget?"

[2021-05-06 02:47] embbnux commented on #510
Hi @Krishnajha25 Token is saved at Browser localStorage with key "sdk-rc-widgetplatform". You can only access it when your deploy the app in your domain. But it is not recommended to use token, token will be expired and changed when the app refresh it.
If you want to manage token in server side, you can have a look at RingCentral proxy project, it make authorization in server side https://github.c

[2021-05-11 03:02] embbnux opened #515 "App should navigate to call control page if user have a call at other tab"
We support navigate to active calls page when user have calls at other device at no Browser call mode.
Want to support similar feature at Browser call mode.

[2021-05-11 03:10] embbnux opened #516 "Rate limit issue with multipleTabsSupport"
When multipleTabsSupport is enabled and user has call with multiple tabs, call log sync requests will trigger rate limit.

[2021-05-17 08:41] #516 closed

[2021-05-18 02:54] embbnux commented on #510
closed by inactive. Feel free to reopen it.

[2021-05-18 02:54] #510 closed

[2021-05-31 02:38] embbnux commented on #507
Hi @ahomewoodrw Just added ringtone setting feature into master build.
You can try it here https://ringcentral.github.io/ringcentral-embeddable, and enable it by following [here](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/disable-features.md#enable-ringtone-settings-feature)

[2021-05-31 08:54] #477 closed

[2021-05-31 08:57] embbnux commented on #354
supported at master build.

[2021-05-31 08:57] #354 closed

[2021-05-31 08:57] #396 closed

[2021-06-01 06:26] embbnux commented on #500
Closed by inactive. Feel free to reopen it.

[2021-06-01 06:26] #500 closed

[2021-06-01 06:29] embbnux commented on #77
From PM team, this is by design now. Currently, app only shows name when phone number is matched at contacts list.

[2021-06-01 06:29] #77 closed

[2021-06-01 06:35] embbnux commented on #7
For free developer account, it is not allowed to log into third party apps in production. You can change app into sandbox environment to test it with developer sandbox account. https://github.com/ringcentral/ringcentral-embeddable/issues/97#issuecomment-377537326

[2021-06-01 06:36] embbnux commented on #7
Closed this issue as this is only tutorial.

[2021-06-01 06:36] #7 closed

[2021-06-02 00:16] afowler-godaddy opened #523 "Audio issues with embeddable"
We have seen some issues with input/output audio not working with the Ringcentral embeddable. Unfortunately, I do not have any error logs on the browser for this. So far, we have seen this issue only on FireFox. Is FireFox fully supported?

[2021-06-02 09:08] embbnux commented on #523
Hi @afowler-godaddy We have some known issues at Firefox when multiple tabs support is enabled:
https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/multiple-tabs.md#known-issues
https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/multiple-tabs.md#known-issues-1
And for Firefox, user can't select output audio device with Browser limitation.

Can you share more

[2021-06-02 14:55] afowler-godaddy commented on #523
Hi @embbnux , thanks for the information!

I have unfortunately been unable to reproduce the issue, but we have had reports of these issues from our customers. We got on a call with them & some employees from RingCentral, and was directed here to inquire about Firefox.

During the call, no logs of importance were output to the developer console. To reproduce, they:
- loaded the embededdable
- ensu

[2021-06-03 15:07] embbnux commented on #523
Thanks so much @afowler-godaddy for clarification. Did those issues happened recently? I got mention that we have Firefox audio issue at 4/30, and fixed at 4/30.

And can you help to collect Firefox version information from your customer who has this issue, and browser HAR file if your users can still reproduce issue. They can help us to track issue.
To collect full HAR file, user need to open Fir

[2021-06-08 08:22] embbnux commented on #507
Supported at master build

[2021-06-08 08:23] embbnux commented on #523
Hi @afowler-godaddy Do your users still get some issues. For HAR file and logs, please send it to "devsupport@ringcentral.com"

[2021-06-22 08:39] mstf55 commented on #400
@embbnux we are having trouble with setting the .env file .Can you please provide with an example .env file? Which keys should be in .env file so we can get rid of that warning message on the console. Thanks in advance.

[2021-06-22 08:47] embbnux commented on #400
Hi @mstf55 this is  example `.env` file. And what warning message do you get?

[code]

[2021-06-22 09:48] mstf55 commented on #400
"RingCentral client id is deprecated, it is required to setup your own RingCentral Client Id, Please stop using it soon before it is completely removed. Please follow here to setup your own RingCentral".
 Where do I need to set the clientId?
I tried
https://myhost.com/adapter.js?clientId=myClientId&appServer=https://platform.ringcentral.com

But no luck , still getting the error.

[2021-06-22 09:59] embbnux commented on #400
Hi @mstf55 , this is message that I added for developers who use precompiled build to recommend they to use [their own client id](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/config-client-id-and-secret.md)
If you are building from source code and `.env` file, you don't need to care about this warm message.

And it is also recommended to use our precompile build, and cust

[2021-06-28 07:38] mstf55 commented on #400
Thank you , appreciated

[2021-07-01 07:02] embbnux commented on #523
Closed by inactive. Feel free to reopen it

[2021-07-01 07:02] #523 closed

[2021-07-07 06:21] #515 closed

[2021-07-08 02:38] embbnux opened #533 "Control Embeddable by headset buttons"
For now, chrome is providing [WebHID](https://www.chromestatus.com/feature/5172464636133376) to interact with some devices (Bluetooth headset).
We can try if we can control Embeddable with that API.

[2021-07-08 02:40] embbnux commented on #533
Link related issues https://github.com/ringcentral/ringcentral-embeddable/issues/35

[2021-07-08 19:25] benlinzel opened #535 "Cannot embed stable versions with Telus branding"
For example, using v1.7.0, it attempts to load styling from [here](https://apps.ringcentral.com/integration/ringcentral-embeddable/1.7.0/app.telus.css), but fails.

[2021-07-09 06:19] embbnux commented on #535
Thanks @benlinzel We have got the root cause. It is issue from our CI job from stable release. I will update missing branding file manually to fix it.

[2021-07-09 06:38] embbnux commented on #535
Hi @benlinzel It is fixed at 1.7.0 release now

[2021-07-09 14:14] benlinzel commented on #535
Thanks @embbnux ! Works great now 👍

[2021-07-09 21:41] ElridgeDMello opened #536 "Popup call drops if main window is reloaded/closed"
We're excited to adopt the popup functionality as it will help our users in some particular situations.  We're evaluating the popup functionality and have found an issue.

We're using version 1.7.0 of the embeddable following these for enabling popup [docs](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/popup-window.md)
We tested in Chrome Version 91.0.4472.106
Calling mode

[2021-07-19 16:37] duyendoan commented on #507
hi @embbnux is there a feature to reduce the volume? The new setting only allows changing the ringtone.

[2021-07-20 02:22] embbnux commented on #507
Hi @duyendoan Currently it doesn't support to reduce volume in the app, user need to reduce by system settings. Let me add it into back log.

[2021-07-20 02:24] embbnux commented on #536
Thanks for feedback @ElridgeDMello It should be a bug. Will fix it soon.

[2021-07-20 02:25] embbnux commented on #535
Thanks for confirming @benlinzel will close it.

[2021-07-20 02:25] #535 closed

[2021-07-20 03:43] embbnux commented on #536
Hi @ElridgeDMello Do you host popup HTML by your self, and add all code in https://github.com/ringcentral/ringcentral-embeddable/blob/master/src/popup.html:

[code]

Actually when I tested, I can't reproduce in my side.

[2021-07-21 14:45] ElridgeDMello commented on #536
No, we do not host the popup.html code ourselves.  We're loading the embeddable via [option 1](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/popup-window.md#to-enable-this-feature):

[code]

[2021-07-23 02:45] embbnux commented on #536
Thanks for confirming @ElridgeDMello Let me check again

[2021-07-23 08:32] embbnux commented on #536
Hi @ElridgeDMello I still can't reproduce it with same code that you provide. Do you set other flags in `adapter.js` URI?

Can you help to collect logs or other screenshots, videos if you can still reproduce it? You can send them to our Dev Support email.

[2021-07-30 21:33] ElridgeDMello commented on #536
Yes, we have additional params:
`enableFromNumberSetting=1&disableActiveCallControl=false&disconnectInactiveWebphone=1&disableConferenceCall=false&enablePopup=1`

I am able to reproduce the issue.  I emailed requested details to RC Dev Support Email address.

[2021-08-02 02:37] embbnux commented on #536
Thanks @ElridgeDMello Got you email. Will keep you updated

[2021-08-02 07:02] embbnux commented on #536
Hi @ElridgeDMello Found the root cause. You need to change `disconnectInactiveWebphone=1` into `multipleTabsSupport=1` to have popup feature work well. I will update docs about this.

[2021-08-02 14:45] ElridgeDMello commented on #536
Ok, thanks, verified that it works as described with the `multipleTabsSupport=1` flag set!

[2021-08-02 14:45] #536 closed

[2021-08-02 16:41] ElridgeDMello opened #540 "Opening popup while on a call drops the call"
We're using version 1.7.0 of the embeddable following these for enabling popup docs
We tested in Chrome Version 91.0.4472.106
Calling mode is set to Browser.

Steps to reproduce the issue:
1. Start a call
2. Popup the embeddable into a separate window

Expected: Call continues in the popup.
Actual: The call is dropped.

[2021-08-03 17:54] ElridgeDMello opened #541 "Question: Ability to query active call state?"
Does the embeddable provide consuming applications the ability to query/ask for active calls state?

This would be a great feature to be able to synchronize state in use cases such as:

* Company wide aggregation of all users calls (without having to build a backend/API integration with Ringcentral)

[2021-08-03 18:16] duyendoan opened #542 "All statuses except "Do not disturb" are displayed as "Invisible"/Offline. Even when I selected "Available""
When I changed the status on the embeddable dial pad to "Available"/"Busy"/"Invisible", it's all displayed as "Invisible" (gray icon). This issue occurred recently

[2021-08-04 02:25] embbnux commented on #540
Thanks @ElridgeDMello We can reproduce it now. And add this bug into backlog.

[2021-08-04 02:31] embbnux commented on #541
Hi @ElridgeDMello Currently Embeddable is built at extension (user) level. So it can't provide all users calls.
As RingCentral provide company level call log API, it is recommended to use it to query all users calls.  You can try my ringcentral-presences-monitor app to get all users active calls for admin user. https://medium.com/ringcentral-developers/building-a-presences-and-calls-monitor-app-wi

[2021-08-04 02:46] embbnux commented on #542
Hi @duyendoan , can you help to collect Browser logs and network HAR to hep us track this issue.

To collect logs and HAR, you need:
1. Right click page and Inspect to open Chrome developer tool.
2. Reload the page with embeddable to reproduce this issue
3. In Chrome developer tool Console panel, right click to select "Save as" to save logs.
4. In Chrome developer tool Network panel, right click t

[2021-08-09 10:02] embbnux opened #545 "Before unload event issue at Firefox"
At chrome, we can notify user to cancel page unload when user has active call.
But in Firefox 90, when developer use 'beforeunload' event to notify user has active call, call in the widget will also be disconnected.

[2021-08-10 20:10] duyendoan commented on #542
@embbnux Thanks for your instruction. It also happens to my other dev account. I submitted a case with logs and HAR using the link you provided.

[2021-08-12 06:21] #541 closed

[2021-08-19 06:26] embbnux commented on #542
Replied at email. Root cause is that the user turn off "Allow other users to see my presence" at RingCentral service web page. So the widget can't change userStatus.

[2021-08-19 06:26] #542 closed

[2021-09-02 07:02] embbnux opened #551 "idea: use AdaptiveCards to render call logger page in the widget"
To allow developer to customize call logger page with [AdaptiveCards](https://adaptivecards.io/)
![image](https://user-images.githubusercontent.com/7036536/131797764-a6079344-dc3c-4920-ac09-ee50f555c00c.png)

[2021-09-15 14:47] Brutalbeard opened #557 "E911 Address Validation Errors not correctly communicated to users"
Sitel was having issue with their E911 addresses being validated when logging in. It would seem the issue was caused by the provider in the UK that validates addresses, not an issue with the embeddable.

What was an issue for the user was the error toast that would pop up on screen. Customer didn't have a way to read that, and understand that the address they were trying to use was invalid.

![ima

[2021-09-15 14:49] Brutalbeard commented on #557
Not sure if the failure response from platform would indicate that the address simply failed, but if it does, we should relay that.

[2021-09-22 02:25] embbnux commented on #557
Closed as this is not issue at embeddable.

[2021-09-22 02:25] #557 closed

[2021-09-23 17:40] ashleycorinnex opened #559 "Support to change output device for ringing audio"
When I go to the audio settings and try to change my output device, it doesn't listen to what I chose. It always chooses my Windows default device as the output audio. Am I missing something or is this a real bug?
![Audio](https://user-images.githubusercontent.com/46426941/134556957-5706a859-0ef1-4b2c-aa9a-ede0fb625ece.PNG)

[2021-09-26 03:29] embbnux commented on #559
Hi @ashleycorinnex The widget doesn't support to set output device for ringing audio. Can you check if you have this issue at ringing audio or call audio?

[2021-09-27 15:02] ashleycorinnex commented on #559
Oh I see, yes I was only testing the ringing audio. Are there any plans to fix that in a future release? I would expect the output device to honor my ringing audio too.

[2021-09-28 02:56] embbnux commented on #559
@ashleycorinnex Thanks for confirming this. It is on our backlog. I will update here once it has release timeline.

[2021-09-28 18:21] ashleycorinnex commented on #559
Great, thank you!

[2021-09-30 02:53] embbnux opened #561 "The widget will NOT support IE 11 after v1.8.0"
Hi developers, we are going to remove IE 11 support of this widget.

At master latest build (Github Page release): the widget will NOT support IE 11 after this [PR](https://github.com/ringcentral/ringcentral-embeddable/pull/560) merged.

And in versioned release, it will remove IE11 support at v1.8.0.

For IE users, it is recommended to use Edge (Chromium) to get better user experiences.

[2021-10-08 02:59] embbnux commented on #540
Hi @ElridgeDMello Still on hold now. As technical limtation from browser, we can only send notification to user when user want open popup window with active call. So user can only open popup window when there are not calls.

[2021-11-05 19:07] benlinzel opened #567 "Allow `disableMinimize` config like `disableSMS`"
In the event that an application embeds the widget and wants custom UI handling for the widget, the minimize functionality should be configurable to keep from interfering with custom UI handling in the host application.

[2021-11-09 15:45] ElridgeDMello opened #568 "Question: can we depend on RCAdapter.popupWindow"
Hi @embbnux ,

I see this method exposed on the `RCAdapter` object: `RCAdapter.popupWindow`.

We would like to control the popup programmatically, but I don't see this method documented in the [docs to control the widget](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/control-widget.md) so I wanted to confirm it is safe to depend on it.  Can we depend on this method being s

[2021-11-10 02:17] embbnux commented on #568
Hi @ElridgeDMello It is safe to use it. It is public API of `RCAdapter`.
And it is recommended to use 1.7.3 as we have bugfixs at that

[2021-11-10 02:23] embbnux commented on #567
Thanks @benlinzel It is good idea. Added it into backlog.
For now, you can use `RCAdapter.setMinimized(false)` to make it un-minimized.

[2021-11-10 02:31] embbnux commented on #568
Added it into docs https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/control-widget.md#popup-the-widget

[2021-11-10 02:31] #568 closed

[2021-11-10 23:08] ElridgeDMello opened #569 "RCAdapter.popupWindow sometimes does not work"
We are using the `RCAdapter.popupWindow` method to popup the embeddable.  The `RCAdapter.popupWindow` method sometimes does not work to popup the widget.  We are seeing it fail to popup the widget about 50% of the time.

Our setup: When our app loads, we load the Ringcentral Embeddable via RC Adapter method.  We wait until `window.RCAdapter.popupWindow` is a function, then call it.  We notice that

[2021-11-11 03:07] ElridgeDMello opened #570 "feature request: RCAdapter.isWindowPoppedUp"
Hi @embbnux,

We are using the `RCAdapter.popupWindow` method to popup the embeddable.  Our app has various entry points, but shares a root layout that we use for load the embeddable, wait for `window.RCAdapter` to be available, then call `RCAdapter.popupWindow`.

This invocation of the `RCAdapter.popupWindow` on the root layout can be called multiple times during a user navigating various pages i

[2021-11-11 03:13] embbnux commented on #569
Hi @ElridgeDMello the issue is caused when widget iframe hasn't been loaded, and you call popupWindow.
To avoid time out issue, you need to call `popupWindow` function only after you first receive login status event https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/widget-event.md#login-status-event

[2021-11-11 03:19] embbnux commented on #570
Hi @ElridgeDMello This is good feedback. Added it into backlog.

[2021-11-17 03:10] embbnux opened #573 "No ringing audio output at Safari with MacOS big Sur or iPad v15"
Can't get ringing audio at Safari with MacOS big Sur or iPad v15

[2021-11-17 09:29] embbnux commented on #573
The root cause is that we use ogg audio file for ringing sound. But ogg is not supported by Safari. Need to change default ringing audio file into wav or other format for Safari.
For now, it is recommended to [enable customized ringtone feature](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/disable-features.md#enable-ringtone-settings-feature) and change ringtone to other

[2021-11-17 10:49] mangatinanda opened #575 "login number is not present in rc-login-status-notify event"
In the demo widget, the data that is being logged is `rc-login-status-notify: true *101`.  Main number is missing. This used to work before.

[2021-11-18 02:09] embbnux commented on #575
Hi @mangatinanda Can you help to collect logs and HAR for us to track this issue. When I tried today, I can't reproduce it in my side.
To collect logs and HAR file:
1. Open page with the widget, logout if it is logged.
2. Right click the widget's button and select Inspect to open Chrome developer tool.
3. Login with RingCentral account in the widget.
4. After logged, and you get login status notif

[2021-11-18 07:55] embbnux commented on #567
Supported at master build https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/disable-features.md#disable-the-widget-minimized

[2021-11-18 08:01] embbnux commented on #570
Supported at master build https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/popup-window.md#to-check-if-popup-window-opened

[2021-11-18 08:02] embbnux commented on #540
I am going to close this. Feel free to reopen it if you still need it.

[2021-11-18 08:02] #540 closed

[2021-11-18 17:09] mangatinanda commented on #575
I could not find an option to upload logs and HAR file.

Anyways, the issue is easily reproducible in the widget here: https://ringcentral.github.io/ringcentral-embeddable/

Here is console logs screenshot if that helps:
![Screenshot 2021-11-18 at 10 33 08 PM](https://user-images.githubusercontent.com/6745155/142462592-488458ec-f1aa-4189-8c09-d3b127266935.png)

In the code, I saw ```loginNumber =

[2021-11-19 01:30] CoCraig commented on #567
@benlinzel can you explain why you wish to remove the minimize button?  I'm not clear how this interferes with custom UI handling.

[2021-11-19 08:29] embbnux commented on #575
Hi @mangatinanda I think I can reproduce this with a free RingCentral developer account in production environment (platform.ringcentral.com).
It is by design as free RingCentral developer account doesn't have main number.
Can you help to check if your login account is free account? If you want to test app with your free developer account, you need to change environment into sandbox platform.devtes

[2021-11-19 09:19] mangatinanda commented on #575
Hi @embbnux it is not a free RingCentral developer account. I can see the mainNumber in API call.
Endpoint: https://platform.ringcentral.com/restapi/v1.0/account/~
![Screenshot 2021-11-19 at 2 42 41 PM](https://user-images.githubusercontent.com/6745155/142597455-4f056ba5-2044-43db-8cb7-d24e394278ba.png)

I tested with both sandbox and a production account. Same result: `rc-login-status-notify: tru

[2021-11-19 09:39] mangatinanda commented on #575
@embbnux I just checked with the same account at https://ringcentral.github.io/ringcentral-embeddable/ and it is logging both main number and extension number. Not sure what has changed.

[2021-11-22 02:59] embbnux commented on #575
So it can work now? If you can still reproduce it, can you help to collect HAR and logs and send to devsupport@ringcentral.com, and share email title here? The HAR and logs can help us to track it.

[2021-11-22 09:03] embbnux commented on #575
Hi @mangatinanda I can reproduce it now. The root cause is that the event is sent before app get data from account info API.
It will be fixed soon.

[2021-11-23 13:06] #575 closed

[2021-11-24 08:40] mangatinanda opened #579 "Error when triggering startRecord call action for outgoing calls"
I am trying to trigger call recording using the below code when I receive event `rc-call-start-notify`:
[code]
It is failing sometimes for an outbound call and I am seeing a console error:
[code]
Since I do not know if this action has failed I can't retry as well.

Is it recommended to trigger call recording after some delay(say 5sec)?

[2021-11-24 09:32] embbnux commented on #579
Hi @mangatinanda Actually, we can not make sure the delay time. For some phone system, they request caller to input extension number to make call connected. We can't start demand recording before that.
If you want to implement auto recording, you can tell your RingCentral account admin to enable auto recording at RingCentral service portal  https://support.ringcentral.com/article/10665-automatic-c

[2021-11-25 02:43] embbnux opened #580 "Can't get voice for incoming call at Safari iPadOS 15"
When user accept incoming call at Safari iPadOS 15, the caller fail to get voice from the ipad user

[2021-11-26 07:00] mangatinanda commented on #579
Thanks for the explanation @embbnux

[2021-11-26 07:00] #579 closed

[2021-11-30 18:09] ElridgeDMello commented on #570
Thanks @embbnux for this enhancement from 1.8.0.

Couple of questions:

1. Do you know when that release is scheduled to go out?
2. Are you still classifying this feature (pop out embeddable) as a beta feature, or is it stable/production ready at this point?

[2021-12-01 08:36] embbnux commented on #570
Hi @ElridgeDMello  Actually I am going to release 1.8.0 today. And we pop-out feature will go to stable from 1.8.0

[2021-12-01 09:06] embbnux commented on #570
1.8.0 released

[2021-12-02 02:30] embbnux commented on #570
Closed as 1.8.0 released. Feel free to reopen it here if you get related issues.

[2021-12-02 02:30] #570 closed

[2021-12-02 02:30] embbnux commented on #569
Closed by inactive. Feel free to reopen it.

[2021-12-02 02:30] #569 closed

[2021-12-02 03:43] benlinzel commented on #567
Basically if the RC widget is embedded in another application, and that application contains its own UI button or custom event handling to show/hide the fullscreen widget, it confuses users when there's also a third state (visible but minimized)

[2021-12-03 01:36] embbnux commented on #567
Closed this as we supported at 1.8.0

[2021-12-03 01:36] #567 closed

[2021-12-13 07:39] embbnux opened #581 "Show "My Location" phone numbers at calling setting event"
With [calling settings API](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/interact-with-calling-settings.md), developer can change calling mode. But for RingOut mode, developers would like to know "My Location" phone number options.

## Requirements:

Provide my location phone numbers at [calling setting event](https://github.com/ringcentral/ringcentral-embeddable/blob/mas

[2021-12-16 03:43] embbnux commented on #580
Related https://developer.apple.com/forums/thread/689293

[2021-12-20 07:51] embbnux commented on #581
supported at master build

[2021-12-20 07:51] #581 closed

[2021-12-21 06:57] mangatinanda opened #586 "Recording conference calls."
I am facing two issues w.r.t call recording of conference calls.

1. When the call recording is on, I am not able to add a new call. Not sure if this is a limitation in the API but it shows an error asking to stop the recording and try again.
![Screenshot 2021-12-21 at 12 19 37 PM](https://user-images.githubusercontent.com/6745155/146885315-27e35ac4-1a73-462f-9a1c-4289bebde05d.png)

2. While in th

[2021-12-21 09:48] embbnux commented on #586
Hi @mangatinanda For 1, it is by design. We can't add someone into a recorded call.
For 2, let me check with team

[2021-12-31 07:25] himanshutecstub opened #587 "Keep call running when refresh page"
Hello,
I use https://github.com/ringcentral/ringcentral-embeddable widget code in my HTML web page which is working fine with call send & receive.
When any call running and i press browser refresh than call ending.
Is there any way to keep widget open or can't refresh when call running.

Thanks

[2021-12-31 08:39] embbnux commented on #587
hi @himanshutecstub, you can try [the popup feature](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/popup-window.md). As the widget is a web page, everything will be destroyed by Browser when user close or refresh page. We can only keep the call when user have call at popup window, and keep popup window opened.

[2021-12-31 08:51] himanshutecstub commented on #587
Yes i enable this feature in HTML page and popup icon will open new popup window but when any call running than can't open popup.

[2021-12-31 08:56] embbnux commented on #587
yeah, it is by design now. Currently app will end the call if user open the popup window. We are still finding some way to improve it

[2022-01-04 15:49] ElridgeDMello opened #588 "Enable Glip feature not working"
Hello,

We are trying to use glip/team messaging via the embeddable.

Our URL to load the RC Embeddable via the adapter way is: https://apps.ringcentral.com/integration/ringcentral-embeddable/1.8.0/adapter.js?clientId=myClientId&appServer=https://platform.devtest.ringcentral.com&enableFromNumberSetting=1&disableActiveCallControl=false&disconnectInactiveWebphone=1&disableConferenceCall=false&disabl

[2022-01-05 08:51] embbnux commented on #588
Hi @ElridgeDMello Can you check if there are any errors at chrome console? It will not show team messages if user doesn't have permission. And for sandbox user, user need to login into https://app.devtest.ringcentral.com firstly.

[2022-01-05 22:45] ElridgeDMello commented on #588
That was it, needed to first login to  https://app.devtest.ringcentral.com.

Submitted documentation update PR: https://github.com/ringcentral/ringcentral-embeddable/pull/590

[2022-01-05 22:45] #588 closed

[2022-01-07 21:48] ElridgeDMello opened #591 "v1.8.0 throwing permissions errors for not opted in features"
Trying v1.8.0 in our Prod environment, found some endpoints are being called that are returning `401` status codes.

These permissions expected, which we do not have setup in our developer app (as we did not opt in for these features):
`TeamMessaging`
`Meetings`

e.g.
[code]

App is loaded the adapter way via this URL:
https://apps.ringcentral.com/integration/ringcentral-embeddable/1.8.0/adapter.j

[2022-01-13 10:07] embbnux commented on #591
fixed at v1.8.11

[2022-01-13 10:07] #591 closed

[2022-01-21 06:27] embbnux opened #595 "Wrong avatar at RingCentral team messaging"
Currently, user will get wrong avatar at Glip messages.
Confirmed it is bug from data in Glip profile API.

[2022-01-27 22:36] ElridgeDMello opened #596 "Question: how to disable/minimize log verbosity?"
Hi @embbnux,

Is there a way to reduce the verboseness of the console.log messages written by the embeddable?

We also notice quite a few warnings in the console when the embeddable is loaded.

![image](https://user-images.githubusercontent.com/1136153/151454859-f6c3d678-eb67-44c5-a404-09795b8c716e.png)

Thanks in advance!

[2022-01-28 21:20] Greraf opened #597 "bameyimeyi502@gmail.com"
Gleref

[2022-01-28 21:21] Greraf commented on #597
Hi 👋

[2022-02-07 00:38] zxdong262 opened #598 "Feature request: support link to third party contact"
As a optional property

[2022-02-11 20:27] duyendoan opened #599 "Invisible/Offline status is not synced between the widget and the app"
The Invisible/Offline status dis not synced between the widget and the app. Only "Available" and "Do not disturb" works. Is it limitation or something wrong on my end?

[2022-02-11 21:32] duyendoan opened #600 "No option to hold the second inbound call from the browser while user is on the first call initiated from the RC app"
I'm on a call on the RC web app. There is another inbound call and it rings in both RC embeddable widget and the web app (as expected). However, there is no option to put it on hold on the widget. The option only shows in the web app.

[2022-02-14 02:31] embbnux commented on #600
Hi @duyendoan The option to put second call on hold is only supported when you have calls on same device. As the RC web app and this widget are independent apps (devices), so the widget doesn't show the option.

[2022-02-14 02:37] embbnux commented on #599
Hi @duyendoan Thanks for feedback. Yes, the RC app and the widget are using different presence status endpoint now, as RC app also support to show meeting status. It is on our roadmap to update the widget presence status.

[2022-02-14 02:38] #597 closed

[2022-02-14 02:39] embbnux commented on #596
Hi @ElridgeDMello It is deprecated warning in our widgets lib. I will upgrade modules to remove those warning.

[2022-02-16 17:08] duyendoan opened #602 "Is there any way to toggle Accept Call Queue Calls through the code?"
I turn off the Accept Call Queue Call toggle before updating the widget status from Available to DND . And I'm able to get the dndStatus "DoNotAcceptDepartmentCalls". When I update the status back to Available using postMessage/clicking on the status, the toggle ACQC is also turned on automatically. Is there a way to keep it off? Or in other words, is it possible to use postMessage to update the d

[2022-02-16 17:09] #600 closed

[2022-02-18 10:19] embbnux commented on #602
Hi @duyendoan, good catch. Currently the widget doesn't have API to set dndStatus into `DoNotAcceptDepartmentCalls`.
Let me add it into backlog.
For other status, you can use following code:
[code]

[2022-02-22 14:09] ElridgeDMello opened #604 "Question/feature request to get active call status"
We are using the widget popout functionality in our app.  We use the events from the widget to render a hangup button in our app.  When our main app refreshes, the call stays on (which is very good 👍 ) but due to the refresh we lose the state in the app for knowing whether we're currently on a call (and the app does not have a hangup button).

Question/Feature Request:
Is there a way to programmat

[2022-02-23 23:01] ElridgeDMello opened #605 "version 1.8.1 - Ringcentral App calling mode opens browser tab on new call"
When calling mode is set to RingCentral App, when we programmatically start a call, a new tab is opened with instructions to download the app (even though we already have it).

The actual call is placed and works as expected, but opening a new tab with these confusing instructions on every call initiation is problematic;  It would be especially problematic for users that already have the app insta

[2022-02-24 02:49] embbnux commented on #605
Hi @ElridgeDMello Thanks for the feedback. I can reproduce it in my side. Let me discuss with team about how to avoid the new tab.

[2022-02-28 08:57] embbnux commented on #605
Hi @ElridgeDMello , we have an update at master build about this. Can you help to try it at https://ringcentral.github.io/ringcentral-embeddable/

[2022-02-28 08:59] embbnux commented on #602
Hi @duyendoan we have an update at master build to support setting dnd status. Can you help to try it?
You can follow the docs https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/control-widget.md#set-presence in master build https://ringcentral.github.io/ringcentral-embeddable/

[2022-03-03 19:28] ElridgeDMello commented on #605
Re-tested today and it worked, so the fix is good! Thanks!  When can we expect this to be released?

[2022-03-04 03:00] embbnux commented on #605
Thanks for confirming @ElridgeDMello . It should be released next week. I will check if we can add another enhancements into  this release. If there are not new PRs, it should be next week.

[2022-03-11 07:53] embbnux commented on #605
@ElridgeDMello 1.8.2 released

[2022-03-11 07:53] #605 closed

[2022-03-11 07:53] embbnux commented on #602
released with 1.8.2

[2022-03-11 07:53] #602 closed

[2022-03-22 19:46] ElridgeDMello opened #610 "Popup opening in new tab instead of popup window"
For one of our users, the Embeddable popup is opening in a new tab instead of in a popup window:

This is how the embeddable is being loaded:
`https://apps.ringcentral.com/integration/ringcentral-embeddable/1.8.1/adapter.js?clientId=myClientId&appServer=https://platform.ringcentral.com&enableFromNumberSetting=1&disableActiveCallControl=false&multipleTabsSupport=1&disableConferenceCall=false&enable

[2022-03-23 02:14] embbnux commented on #610
hi @ElridgeDMello can you help to check with the user's browser extensions? There are some browser extensions which make browser popup window into new tab.

[2022-03-25 01:50] ElridgeDMello commented on #610
Tried disabling all extensions but the issue still persists for this user.  Emailed network and console logs.

[2022-03-25 05:20] embbnux commented on #610
Thanks @ElridgeDMello I got log files. But I don't see any related errors.
Can you let the user to run this code in your website's browser devtool to check if it can work:

[code]

I still think it is some settings at user browser to cause this issue as the widget just call `window.open` API from browser.

[2022-03-28 15:01] ElridgeDMello commented on #610
When we tried to reproduce the issue, the popup opens in a new window as expected.  Not sure whether it was a chrome update that caused this behavior to change but we have not had any other users experience this.  Going to close this as resolved for now.  Will re-open if necessary. Thanks!

[2022-03-28 15:01] #610 closed

[2022-04-01 09:34] embbnux commented on #604
Hi @ElridgeDMello We have supported this at master build. Can you help to try it with this [doc](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/widget-event.md#web-phone-sessions-sync-event)?

[2022-04-18 02:34] zxdong262 opened #619 "[feature request] Set SMS as unread/read"

[2022-04-25 17:26] ElridgeDMello opened #620 "v1.8.2 throwing permissions error for not opted in features"
Similar to previously closed issue #591 we're seeing these errors in the network logs:

Request URL: https://platform.ringcentral.com/restapi/v1.0/glip/persons/<snipped_id>

[code]

Users are being confused by the red error message that pops up with it.  I'm not able to see the red error message, but I am able to see that the request is failing in the browser network logs.

Since we have not opted

[2022-04-26 02:20] embbnux commented on #620
Thanks @ElridgeDMello Do you enable [Glip feature](Team Messaging) for your app. Now Glip permission renamed into Team Messaging, need to add "Team Messaging" into your app if you need to Glip tab in the widget.

[2022-04-26 16:36] ElridgeDMello commented on #620
@embbnux no we do not have Glip/Team Messaging enabled and do not desire to have it enabled for our users.

Also, these are the permissions that the app has:
Call Control, Edit Presence, Internal Messages, Read Accounts, Read Call Log, Read Contacts, Read Messages, Read Presence, Ring Out, SMS, Telephony Sessions, VoIP Calling

[2022-04-28 07:38] embbnux commented on #595
fixed at server side.

[2022-04-28 07:38] #595 closed

[2022-05-13 18:36] arubyit opened #622 "Getting "Web Phone Unavailable" for multiple users"
We have checked permissions on both Edge and Google Chrome and are still getting "Web Phone Unavailable" as well as "Please grant RingCentral Embeddable to access your audio.". We have been using this extension for months and haven't had this issue before. Additionally, several users are experiencing this. We have tried multiple restarts, installs, rolling back the ringcentral extension version, r

[2022-05-13 23:13] embbnux commented on #622
Hi @arubyit can you help to check if microphone is enabled at following pages:

1. the page that embed the widget
2. https://ringcentral.github.io/ringcentral-embeddable/#
3. https://apps.ringcentral.com/integration/ringcentral-embeddable/

To check that, click secure icon that the browser address tool:

<img width="379" alt="image" src="https://user-images.githubusercontent.com/7036536/168400191-

[2022-05-24 14:14] CoCraig opened #625 "Too many 429 errors"
We are seeing an ever increasing number of 429 errors due to the `oauth/token` API calls.  This rate limit error can be seen with the RingCentral for HubSpot Chrome Extension built by RC Labs and is likely due to how customers like to use many tabs in HubSpot and they are all trying to refresh the token at one time.

[2022-05-25 02:00] embbnux commented on #625
Fixed with #623

[2022-06-02 01:53] embbnux commented on #625
Closed this as we found it is issue at HubSpot Chrome Extension.

[2022-06-02 01:53] #625 closed

[2022-06-09 01:49] embbnux commented on #620
fixed at 1.8.3

[2022-06-09 01:49] embbnux commented on #604
supported with v1.8.3

[2022-06-09 01:49] #604 closed

[2022-06-23 01:37] embbnux opened #630 "Support to show call queue numbers at contacts list"
We would like to show call queue name and number in contacts list

[2022-07-01 01:46] embbnux opened #631 "Support to hide company directory from Contacts"
requests from https://community.ringcentral.com/questions/108740/how-to-hide-the-other-users-contacts-from-rc-widge.html?childToView=108772#comment-108772

[2022-07-06 03:44] embbnux commented on #622
Close this by inactive. Feel free to reopen it if you still have same issue.

[2022-07-06 03:44] #622 closed

[2022-07-08 03:04] embbnux commented on #630
Supported at v1.8.4

[2022-07-08 03:04] #630 closed

[2022-07-11 03:15] kpandey017 commented on #317
Is this feature added now?

[2022-07-11 03:21] kpandey017 commented on #359
@embbnux can you share some example for this feature

[2022-07-11 08:12] embbnux commented on #359
Hi @kpandey017 For warm transfer, we call it "Ask first". It allow user to have a call with person who the user want to transfer to ask first.
<img width="298" alt="image" src="https://user-images.githubusercontent.com/7036536/178218331-f14a16a1-a219-4c77-b55f-f3e43fd3b4e2.png">
You can get more details here https://www.ringcentral.com/call-transfers.html

[2022-07-11 08:18] embbnux commented on #317
Hi @kpandey017 it is not added now. Now user can merge call by button in the widget.

[2022-07-11 09:05] kpandey017 commented on #359
Hi @embbnux does it have programmatic support for this feature (postMessage API.).

[2022-07-11 09:10] embbnux commented on #359
@kpandey017 It don't have API for warm transfer now, Cold transfer is supported.
Do you need this? Can you provide some details about why you need this. I can talk with our PM to add this.

[2022-07-18 22:10] duyendoan opened #636 "Keep ringing after call end"
Hello, I've noticed that my logger is capturing this new error whenever I make an outbound call. I didn't see this the last time I checked the code, and it was around Feb 2022. The outbound call still goes through but I'm wondering if there is something going on in the backend. In addition, I'm not sure if this second issue is related to the first, but once in a while, the incoming call notificati

[2022-08-04 08:14] embbnux commented on #636
hi @duyendoan , for keep ringing issue, the fix has been released at master build (Github Page). If you load the widget from our Github Page release, you can get that after refreshing web page.

It will be released into stable release (CDN) after more checks at master build.

[2022-08-04 17:39] duyendoan commented on #636
@embbnux so I'm using the widget without specifying the version. So I guess it will automatically pick up this fix right?

[2022-08-05 09:46] embbnux commented on #636
yes, it will automatically pick up this fix. BTW it is recommended to use our CDN versioned build for stable.

[2022-08-08 14:33] duyendoan commented on #636
Hi @embbnux So one of our users still experiences this ringing issue. No call showed up on the dial pad, only the audio icon was visible on the browser tab and it kept ringing until the user turned off the tab.

[2022-08-09 02:35] embbnux commented on #636
Thanks for the feedback. It is weird. Can you help to tell the user to open chrome developer tool when the issue happens again, and save logs into file (Right click to save all) at Console panel. For sending logs to us, please create a case here https://developers.ringcentral.com/support/create-case and sharing the case title in the issue.

And to make user the user have latest code: in chrome dev

[2022-08-12 15:57] ElridgeDMello opened #639 "Question: Reason for different error rates vs webapp/desktop app?"
Our users mainly use the RingCentral Embeddable within our application for making click to dial calls.

They are reporting that the error rate on calls through the Embeddable are higher than compared to the [RC WebApp](https://app.ringcentral.com/) or RC Desktop App.  Here errors would be things like call drops, call does not connect/widget spins indefinitely.  Often times when these errors happen

[2022-08-15 02:32] DaKingKong opened #640 "Toggle to mute ringtone"
Use case:

User has other phone devices, and would like to mute embeddable's  ringtone while taking on others.

Existing way/workaround to mute ringtone is to upload a silent audio as ringtone, which needs several clicks. Ideally, the new toggle would be more easily accessible as it's gonna be frequently used by users with multiple devices.

[2022-08-15 08:59] jinalptl1993 opened #641 "How to reinitialize ringcentral widget after dispose"
I am integrating the RingCentral widget in my react js application. I need to display it for the specific route. When I first time visited that page, It is working just fine. On route change(component destroy) I am using RCAdapter.dispose(); to do not display(destroy) RingCentral widget.

Now, when I revisit that route, that RingCentral widget is not getting reinitialized. RingCentral is not getti

[2022-08-15 09:12] embbnux commented on #639
Hi @ElridgeDMello Can you help to collect logs and HAR from users, so we can track that errors.

For compared to RC app, actually they are using same web phone SDK, but some differences:

1. The widget supports multiple tabs,  so they are some reconnection when user switches page.
2. RingCentral app is official app, so it has higher API rate limits.
3. Different API endpoint domain. And sip server

[2022-08-15 09:27] embbnux commented on #641
Hi @jinalptl1993 Good point! Currently the app can't be re-initialized after disposed. We can add the API, and can you help to check following question, so we can know what you want:

1. Do you need user to receive the call when user redirect to other routes. For `RCAdapter.setClosed(true)`, it just hide the widget, you can listen to  new call event and set closed false to open the widget again.

[2022-08-15 09:35] jinalptl1993 commented on #641
@embbnux First of all, thanks a lot for your quick response.

1. My initial use case just does not receive calls when the widget is not displayed. But I am fine If somehow I would be able to open the widget If I receive any call If there is no other option.
2. It would be great If I will have control over initialization then I would be able to initialize it whenever I need.

I hope I provided enou

[2022-08-15 09:42] embbnux commented on #641
@jinalptl1993 you are welcome! Let me add the option to initialize the app.

For open the widget when you receive call, you can listen to [ringing event](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/widget-event.md#web-phone-call-event) and `setClosed(false)`.

[2022-08-15 09:53] jinalptl1993 commented on #641
Thanks a lot @embbnux

Meanwhile, I am trying with [ringing event](https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/widget-event.md#web-phone-call-event) and setClosed(false).

[2022-08-15 21:27] duyendoan commented on #636
Hi @embbnux I submitted to the log. The case title is "Keep ringing after call end #636" (Case #16042554).

[2022-08-16 02:36] embbnux commented on #636
@duyendoan Thanks so much for the log. I will check that.

[2022-08-25 09:52] embbnux commented on #641
Hi @jinalptl1993 we have release a new build at Github page version. You can follow the doc to init and dispose manually
https://github.com/ringcentral/ringcentral-embeddable/blob/master/docs/adapter-init.md

[2022-08-25 09:55] jinalptl1993 commented on #641
Thanks a lot, @embbnux for all your help!

I am excited to use this option!

[2022-08-25 09:59] embbnux commented on #641
You are welcome. When it goes well some days, we will release this into our CDN build.

[2022-09-01 03:11] DaKingKong commented on #640
Another use case that might make more sense.

User already in a phone call and another incoming call happens. According to user feedback, the incoming call's ringtone will go off.

I guess what we want to do is:
1. Confirm the case
2. Maybe implement it as a toggle in user setting to silent ringtone while during phone call.

[2022-09-02 06:53] embbnux opened #643 "Widget logo lost when login at CDN version v.18.4"
<img width="298" alt="image" src="https://user-images.githubusercontent.com/7036536/188076501-68817ff1-b826-42aa-a428-8b8532a70f13.png">

[2022-09-02 06:57] embbnux opened #644 "Firefox throws LockManager.request: request() is not allowed in this context error"
Firefox throws

App fail to run navigate.locks API at Firefox with CORS resource.

[2022-09-05 01:12] embbnux opened #645 "`rc-active-call-notify` answered event missed at Firefox"
Get reported that:

[2022-09-22 01:02] embbnux opened #646 "Rename `partyData.sessionId` to `partyData.telphonySessionId`"
We have partyData in call notification event, and `partyData.sessionId` is actually `telphonySessionId` in RingCentral API.

[2022-09-23 03:05] embbnux commented on #641
Released with v1.8.5

[2022-09-23 03:05] #641 closed

[2022-09-23 03:05] embbnux commented on #643
It is caused by network issue to fetch CDN. No need to fix.

[2022-09-23 03:05] #643 closed

[2022-09-23 03:06] embbnux commented on #644
fixed at 1.8.5

[2022-09-23 03:06] #644 closed

[2022-09-23 03:06] embbnux commented on #645
fixed at 1.8.5

[2022-09-23 03:06] #645 closed

[2022-09-23 03:07] embbnux commented on #639
closed by inactive. Feel free to reopen it.

[2022-09-23 03:07] #639 closed

[2022-09-23 03:11] embbnux opened #649 "Warning: old Embeddable widget may have issue to receive transfer call"
We receives report that user with old embeddable widget may fail to answer transferred call.
The old embeddable widget use old web phone SDK causing this issue.

Upgrade Embeddable to v1.8.5 can fixed this.

[2022-09-23 04:13] jinalptl1993 opened #650 "Ringcentral widget is just ringing non stop when I am on call and other calls are coming at the same time"
I have integrated the RingCentral widget in my react js application. All working fine till now.

I have experienced one weird issue with it. When I was on a call, I had at least 3 other calls coming in and all ringing in non-stop while talking to an ongoing call. Is there any way to prevent this from happening?

I think when I am using the ring central app it would just beep when another call came

[2022-09-23 05:07] embbnux commented on #650
Hi @jinalptl1993 Do you mean you don't have any way to ignore the incoming call? You can go to all calls list, click call item to ignore that to stop ringing.

<img width="298" alt="image" src="https://user-images.githubusercontent.com/7036536/191895335-f175066b-839d-40c4-b665-b01fa86c5970.png">

[2022-09-23 05:40] jinalptl1993 commented on #650
@embbnux
Thanks a lot for your quick response.

I mean to say when my call is running I keep hearing the ringing calls in the background.
I am able to see the screen as you displayed above but I need to go there and cut the existing call.

But my use case is I want to keep my current call going on and do nothing with other incoming calls.

[2022-09-23 05:50] embbnux commented on #650
Hi @jinalptl1993 so you want to make the widget beep when you have call and have new incoming call ?

[2022-09-23 05:52] jinalptl1993 commented on #650
yeah, that's what I exactly want or somehow I don't want my existing call to get disturbed due to incoming.

[2022-09-23 05:56] embbnux commented on #650
Thanks for the suggestion. It is a good point, I will talk with PM and add it into backlog

[2022-09-23 06:23] jinalptl1993 commented on #650
ok, Thanks a lot for all your help.

[2022-10-14 02:38] embbnux commented on #636
Hi @duyendoan Can you help to check if you receive same reports after you reported to us.

[2022-11-21 01:32] embbnux opened #658 "Duplicate rc-inbound-message-notify event when user get unread SMS and refresh app"
When user receive a unread SMS message, the widget will send `rc-inbound-message-notify` event.
But if user doesn't read that, and refresh the web page, the widget will resend the `rc-inbound-message-notify` event for that message.

[2022-11-21 02:46] embbnux commented on #650
supported with https://github.com/ringcentral/ringcentral-embeddable/pull/656

[2022-11-21 02:48] embbnux commented on #640
Duplicated with #650 , supported with https://github.com/ringcentral/ringcentral-embeddable/pull/656

[2022-11-21 02:48] #640 closed

[2022-11-21 07:45] embbnux commented on #451
enable source map for app.js in production build with #659

[2022-11-21 07:45] #451 closed

[2022-11-28 02:32] kpandey017 opened #660 "Option to be able to play a pre-recorded audio file (wav file) from the local PC out to the caller"
We want to be able to play a WAV file from the local PC out to the caller, so that user doesnt have to read out same speech every time instead play a pre recorded audio file.

[2022-11-28 02:48] embbnux commented on #660
This is great idea. I will check if we can support that.